Repository framecastdev/framecast: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, clippy, migration-naming, validate-api-spec, check-env-vars

rustfmt:
  name: Rust formatting (rustfmt)
  entry: bash -c 'source "$HOME/.cargo/env" 2>/dev/null || true && cargo fmt'
  language: system
  pass_filenames: false

clippy:
  name: Rust linting (clippy)
  entry: bash -c 'source "$HOME/.cargo/env" 2>/dev/null || true && cargo clippy --workspace --all-targets -- -D warnings'
  language: system
  pass_filenames: false

migration-naming:
  name: Validate migration file naming
  entry: python scripts/validate_migration_naming.py
  language: python

validate-api-spec:
  name: Validate API specification consistency
  entry: python scripts/validate_api_spec.py
  language: python

check-env-vars:
  name: Validate environment variable usage
  entry: python scripts/validate_env_vars.py
  language: python

fix(ci): temporarily disable CI Pipeline while debugging SAM tests
  .github/workflows/ci.yml
Due: none

fix(ci): pull correct SAM emulation image for provided.al2 runtime
  .github/workflows/ci.yml
Due: none

fix(ci): increase SAM local startup timeout to 5 minutes
  .github/workflows/ci.yml
Due: none

fix(ci): add --debug to SAM for verbose logs
  .github/workflows/ci.yml
Due: none

docs: improve CLAUDE.md with fixes and new sections (#1)
  .github/workflows/ci.yml
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  Justfile
  crates/api/src/middleware/auth.rs
  infra/ci/Dockerfile
  template.yaml
Due: rustfmt, clippy, check-env-vars

feat(infra): replace AWS SAM with cargo-lambda and OpenTofu
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .gitignore
  CLAUDE.md
  Justfile
  crates/api/Cargo.toml
  events/api-gateway-request.json
  infra/ci/Dockerfile
  infra/opentofu/.terraform.lock.hcl
  infra/opentofu/README.md
  infra/opentofu/environments/dev.tfvars
  infra/opentofu/environments/dev.tfvars.example
  infra/opentofu/environments/localstack.tfvars
  infra/opentofu/environments/prod.tfvars
  infra/opentofu/environments/staging.tfvars
  infra/opentofu/main.tf
  infra/opentofu/modules/api-gateway/main.tf
  infra/opentofu/modules/lambda/main.tf
  infra/opentofu/modules/monitoring/main.tf
  infra/opentofu/modules/s3/main.tf
  infra/opentofu/outputs.tf
  infra/opentofu/variables.tf
  infra/opentofu/versions.tf
  samconfig.toml
  template.yaml
Due: none

fix(ci): add SQLX_OFFLINE=true to lambda-build target
  Justfile
Due: none

fix(ci): fix LocalStack deployment in CI
  .github/workflows/ci.yml
  infra/opentofu/main.tf
  infra/opentofu/modules/s3/main.tf
Due: none

fix(infra): correct lambda_zip_path in tfvars files
  infra/opentofu/environments/dev.tfvars
  infra/opentofu/environments/localstack.tfvars
  infra/opentofu/environments/prod.tfvars
  infra/opentofu/environments/staging.tfvars
Due: none

fix(ci): fix LocalStack integration for free tier
  .github/workflows/ci.yml
  infra/opentofu/main.tf
  infra/opentofu/outputs.tf
Due: none

fix(ci): run LocalStack with Docker socket on self-hosted runner
  .github/workflows/ci.yml
Due: none

fix(ci): fix workspace permissions for self-hosted runner
  .github/workflows/ci.yml
Due: none

fix(ci): use bash shell for Lambda test step
  .github/workflows/ci.yml
Due: none

fix(ci): replace Lambda invocation test with deployment verification
  .github/workflows/ci.yml
Due: none

chore(ci): remove deploy pipeline and skip CI on merge
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
Due: none

feat(ci): run SES integration tests in LocalStack CI job
  .github/workflows/ci.yml
  Justfile
  tests/integration/common/localstack_client.rs
  tests/integration/email_ses_e2e_test.rs
Due: rustfmt, clippy, check-env-vars

fix(ci): use AWS_ENDPOINT_URL to detect LocalStack, exclude integration tests from ci-test
  .github/workflows/ci.yml
  Justfile
  tests/integration/email_ses_e2e_test.rs
Due: rustfmt, clippy, check-env-vars

fix(ci): don't wait for SES in health check, LocalStack lazy-loads services
  Justfile
  tests/integration/email_ses_e2e_test.rs
Due: rustfmt, clippy, check-env-vars

fix(ci): use AWS_ENDPOINT_URL env var instead of Just endpoint parameter
  .github/workflows/ci.yml
  Justfile
Due: none

chore(ci): remove pull-image job and clean up pipeline dependencies
  .github/workflows/ci.yml
Due: none

fix(ci): restore credentials and packages:read for GHCR container auth
  .github/workflows/ci.yml
Due: none

fix(ci): pass --endpoint-url explicitly to aws CLI commands
  Justfile
Due: none

fix(ci): use ses list-identities for LocalStack health check
  Justfile
Due: none

chore(ci): upgrade CI image to Ubuntu 24.04 with AWS CLI v2
  infra/ci/Dockerfile
Due: none

fix(test): fix LocalStack SES email retrieval and make test fail on missing emails
  tests/integration/common/localstack_client.rs
  tests/integration/email_ses_e2e_test.rs
Due: rustfmt, clippy, check-env-vars

style: fix rustfmt formatting
  tests/integration/common/localstack_client.rs
Due: rustfmt, clippy, check-env-vars

refactor(test): remove unnecessary empty/large email test cases
  tests/integration/email_ses_e2e_test.rs
Due: rustfmt, clippy, check-env-vars

feat: complete invitation workflow with email sending, auto-upgrade, and E2E tests
  .github/workflows/ci.yml
  .sqlx/query-74df35ed968569e53a7f8d5ab25c50393282f42faff14cd10153c4b9244880b1.json
  .sqlx/query-7e9de341bed59426b0d9b78bbc22601106415874c33e3b3e4c7ccadc39d9269f.json
  .sqlx/query-c7354bec64a70a11a036c5d23db2d1c83d9ef43ba89db23d24a5231cfcbadb28.json
  Cargo.lock
  Justfile
  crates/api/Cargo.toml
  crates/api/src/handlers/memberships.rs
  crates/api/src/lib.rs
  crates/api/src/middleware/auth.rs
  crates/db/src/repositories.rs
  tests/e2e/conftest.py
  tests/e2e/pyproject.toml
  tests/e2e/tests/test_invitation_workflow_e2e.py
  tests/e2e/utils/localstack_email.py
  tests/e2e/uv.lock
  tests/integration/common/mod.rs
Due: rustfmt, clippy, check-env-vars

fix(ci): add missing env vars for E2E API server startup
  .github/workflows/ci.yml
Due: none

fix: update axum route paths from :param to {param} syntax
  crates/api/src/routes.rs
Due: rustfmt, clippy, check-env-vars

fix: disable aud validation when JWT_AUDIENCE is unset and narrow E2E test scope
  Justfile
  crates/api/src/middleware/auth.rs
Due: rustfmt, clippy, check-env-vars

fix(test): use TRUNCATE CASCADE for E2E test cleanup
  tests/e2e/conftest.py
Due: check-env-vars

fix(ci): clean up E2E pipeline and move SES tests to ci job
  .github/workflows/ci.yml
  Justfile
  tests/e2e/conftest.py
  tests/e2e/pyproject.toml
Due: check-env-vars

chore: remove dead code, fix inconsistencies, and fix Justfile sh compat
  .env.example
  .github/workflows/ci.yml
  .secrets.baseline
  Justfile
  tests/e2e/conftest.py
  tests/e2e/pyproject.toml
  tests/e2e/tests/test_auth.py
  tests/e2e/tests/test_sam_e2e.py
Due: check-env-vars

fix: address PR #5 review findings
  CLAUDE.md
  crates/api/src/handlers/memberships.rs
  infra/opentofu/README.md
  tests/e2e/tests/test_invitation_workflow_e2e.py
  tests/e2e/utils/localstack_email.py
  tests/integration/email_ses_e2e_test.rs
Due: rustfmt, clippy, check-env-vars

fix: harden invitation acceptance and fix pre-commit issues
  .secrets.baseline
  .sqlx/query-c2422129be07f092e55fe0d2fa538de296b351f92f15fda62094a79e7c9dd1b9.json
  .sqlx/query-c7354bec64a70a11a036c5d23db2d1c83d9ef43ba89db23d24a5231cfcbadb28.json
  Justfile
  crates/api/src/handlers/memberships.rs
  crates/api/src/middleware/auth.rs
  crates/db/src/repositories.rs
  tests/e2e/conftest.py
Due: rustfmt, clippy, check-env-vars

chore: commit OpenTofu lock files for reproducible provider versions
  infra/opentofu/.terraform.lock.hcl
  infra/opentofu/modules/api-gateway/.terraform.lock.hcl
  infra/opentofu/modules/lambda/.terraform.lock.hcl
  infra/opentofu/modules/monitoring/.terraform.lock.hcl
  infra/opentofu/modules/s3/.terraform.lock.hcl
Due: none

fix: remove unnecessary email extraction tests
  tests/e2e/tests/test_invitation_workflow_e2e.py
  tests/integration/common/localstack_client.rs
Due: rustfmt, clippy, check-env-vars

Path conditions:
  rustfmt: any of: \.rs$, but not: (?x)^(
    \.git/.*|
    \.venv/.*|
    venv/.*|
    target/.*|
    node_modules/.*|
    \.pytest_cache/.*|
    __pycache__/.*|
    \.coverage.*|
    htmlcov/.*|
    \.mypy_cache/.*|
    \.ruff_cache/.*
)$

  clippy: any of: \.rs$, but not: (?x)^(
    \.git/.*|
    \.venv/.*|
    venv/.*|
    target/.*|
    node_modules/.*|
    \.pytest_cache/.*|
    __pycache__/.*|
    \.coverage.*|
    htmlcov/.*|
    \.mypy_cache/.*|
    \.ruff_cache/.*
)$

  migration-naming: any of: ^migrations/.*\.sql$, but not: (?x)^(
    \.git/.*|
    \.venv/.*|
    venv/.*|
    target/.*|
    node_modules/.*|
    \.pytest_cache/.*|
    __pycache__/.*|
    \.coverage.*|
    htmlcov/.*|
    \.mypy_cache/.*|
    \.ruff_cache/.*
)$

  validate-api-spec: any of: ^docs/spec/.*\.md$, but not: (?x)^(
    \.git/.*|
    \.venv/.*|
    venv/.*|
    target/.*|
    node_modules/.*|
    \.pytest_cache/.*|
    __pycache__/.*|
    \.coverage.*|
    htmlcov/.*|
    \.mypy_cache/.*|
    \.ruff_cache/.*
)$

  check-env-vars: any of: \.(rs|py)$, but not: (?x)^(
    \.git/.*|
    \.venv/.*|
    venv/.*|
    target/.*|
    node_modules/.*|
    \.pytest_cache/.*|
    __pycache__/.*|
    \.coverage.*|
    htmlcov/.*|
    \.mypy_cache/.*|
    \.ruff_cache/.*
)$

