Repository framecastdev/framecast: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, clippy, migration-naming, validate-api-spec, check-env-vars

rustfmt:
  name: Rust formatting (rustfmt)
  entry: bash -c 'source "$HOME/.cargo/env" 2>/dev/null || true && cargo fmt'
  language: system
  pass_filenames: false

clippy:
  name: Rust linting (clippy)
  entry: bash -c 'source "$HOME/.cargo/env" 2>/dev/null || true && cargo clippy --workspace --all-targets -- -D warnings'
  language: system
  pass_filenames: false

migration-naming:
  name: Validate migration file naming
  entry: python scripts/validate_migration_naming.py
  language: python

validate-api-spec:
  name: Validate API specification consistency
  entry: python scripts/validate_api_spec.py
  language: python

check-env-vars:
  name: Validate environment variable usage
  entry: python scripts/validate_env_vars.py
  language: python

feat: add ConfigurableMockLlmService with request recording
  crates/llm/src/mock.rs
Due: rustfmt, clippy, check-env-vars

test: add negative assertions for is_artifact() to kill surviving mutant
  crates/common/src/urn.rs
Due: rustfmt, clippy, check-env-vars

ci: add libssl-dev and pkg-config for openssl-sys build
  .github/workflows/ci.yml
Due: none

feat: add conversations domain with entities, state machine, API, and repository
  Cargo.lock
  Cargo.toml
  crates/app/Cargo.toml
  crates/app/src/lib.rs
  domains/conversations/Cargo.toml
  domains/conversations/src/api/handlers/conversations.rs
  domains/conversations/src/api/handlers/messages.rs
  domains/conversations/src/api/handlers/mod.rs
  domains/conversations/src/api/middleware.rs
  domains/conversations/src/api/mod.rs
  domains/conversations/src/api/routes.rs
  domains/conversations/src/domain/entities.rs
  domains/conversations/src/domain/mod.rs
  domains/conversations/src/domain/state.rs
  domains/conversations/src/lib.rs
  domains/conversations/src/repository/conversations.rs
  domains/conversations/src/repository/messages.rs
  domains/conversations/src/repository/mod.rs
  tests/integration/Cargo.toml
Due: rustfmt, clippy, check-env-vars

test: add 118 E2E tests for artifacts, system assets, conversations, messages, and cross-domain
  tests/e2e/conftest.py
  tests/e2e/pyproject.toml
  tests/e2e/tests/test_artifact_crud_e2e.py
  tests/e2e/tests/test_conversation_lifecycle_e2e.py
  tests/e2e/tests/test_cross_domain_e2e.py
  tests/e2e/tests/test_message_e2e.py
  tests/e2e/tests/test_system_assets_e2e.py
Due: check-env-vars

test: add 62 integration tests for artifacts, system assets, conversations, and messages
  tests/integration/api_test.rs
  tests/integration/artifacts/mod.rs
  tests/integration/common/mod.rs
  tests/integration/conversations/mod.rs
  tests/integration/messages/mod.rs
  tests/integration/system_assets/mod.rs
Due: rustfmt, clippy, check-env-vars

fix: resolve CI failures in integration tests and Lambda build
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  tests/integration/conversations/mod.rs
  tests/integration/system_assets/mod.rs
Due: rustfmt, clippy, check-env-vars

fix: use Vec<String> instead of Json<Vec<String>> for system asset tags
  domains/artifacts/src/api/handlers/system_assets.rs
  domains/artifacts/src/domain/entities.rs
Due: rustfmt, clippy, check-env-vars

fix: correct system asset ordering test for PostgreSQL enum sort order
  tests/integration/system_assets/mod.rs
Due: rustfmt, clippy, check-env-vars

fix: E2E test fixes for system asset seeding and storyboard spec
  tests/e2e/conftest.py
Due: check-env-vars

fix: audit round 1 — HTTP status codes, DTO field, and test coverage
  domains/artifacts/src/api/handlers/artifacts.rs
  domains/artifacts/src/domain/entities.rs
  domains/conversations/src/api/handlers/messages.rs
  domains/teams/src/api/handlers/memberships.rs
  domains/teams/src/domain/entities.rs
  tests/e2e/conftest.py
  tests/e2e/tests/test_cross_domain_e2e.py
  tests/e2e/tests/test_invitation_email_e2e.py
  tests/e2e/tests/test_invitation_lifecycle_e2e.py
  tests/e2e/tests/test_invitation_workflow_e2e.py
  tests/e2e/tests/test_membership_management_e2e.py
  tests/e2e/tests/test_multi_user_scenarios_e2e.py
  tests/e2e/tests/test_role_based_access_e2e.py
  tests/e2e/tests/test_team_management_e2e.py
  tests/integration/artifacts/mod.rs
  tests/integration/memberships/mod.rs
  tests/integration/teams/mod.rs
Due: rustfmt, clippy, check-env-vars

fix: correct integration test assertions for CI failures
  tests/integration/artifacts/mod.rs
  tests/integration/messages/mod.rs
Due: rustfmt, clippy, check-env-vars

fix: update remaining E2E invitation-create assertions to 201
  tests/e2e/tests/test_data_integrity_e2e.py
  tests/e2e/tests/test_multi_user_scenarios_e2e.py
  tests/e2e/tests/test_role_based_access_e2e.py
  tests/e2e/tests/test_team_crud_e2e.py
  tests/e2e/tests/test_team_limits_e2e.py
  tests/e2e/tests/test_user_account_e2e.py
Due: check-env-vars

fix: audit round 2 — storyboard status, cfg-gated test mock, and test coverage
  crates/common/src/error.rs
  crates/llm/Cargo.toml
  crates/llm/src/mock.rs
  domains/artifacts/src/domain/entities.rs
  tests/e2e/tests/test_artifact_crud_e2e.py
  tests/integration/Cargo.toml
  tests/integration/artifacts/mod.rs
  tests/integration/conversations/mod.rs
  tests/integration/messages/mod.rs
  tests/integration/system_assets/mod.rs
Due: rustfmt, clippy, check-env-vars

fix: audit round 3 — silent error logging, auth tests, and mutation config
  .cargo/mutants.toml
  crates/auth/src/backend.rs
  crates/auth/src/error.rs
  crates/auth/src/types.rs
Due: rustfmt, clippy, check-env-vars

feat: migrate artifact/conversation handlers to AnyAuth and add whoami E2E tests
  domains/artifacts/src/api/handlers/artifacts.rs
  domains/artifacts/src/api/handlers/system_assets.rs
  domains/conversations/src/api/handlers/conversations.rs
  domains/conversations/src/api/handlers/messages.rs
  tests/e2e/tests/test_cross_domain_e2e.py
  tests/e2e/tests/test_whoami_e2e.py
Due: rustfmt, clippy, check-env-vars

feat: migrate artifact/conversation handlers to AnyAuth and add whoami E2E tests (#50)
  domains/artifacts/src/api/handlers/artifacts.rs
  domains/artifacts/src/api/handlers/system_assets.rs
  domains/conversations/src/api/handlers/conversations.rs
  domains/conversations/src/api/handlers/messages.rs
  tests/e2e/tests/test_cross_domain_e2e.py
  tests/e2e/tests/test_whoami_e2e.py
Due: rustfmt, clippy, check-env-vars

docs: update endpoint mapping table with domain, auth, and status columns
  docs/spec/07_Operations.md
Due: validate-api-spec

feat: add character artifact kind, conversation-to-artifact creation, and render endpoint
  Cargo.lock
  crates/llm/src/anthropic.rs
  crates/llm/src/lib.rs
  crates/llm/src/mock.rs
  domains/artifacts/src/api/handlers/artifacts.rs
  domains/artifacts/src/api/routes.rs
  domains/artifacts/src/domain/entities.rs
  domains/conversations/Cargo.toml
  domains/conversations/src/api/handlers/messages.rs
  domains/conversations/src/repository/messages.rs
  domains/conversations/src/repository/mod.rs
  migrations/20250209000001_add_character_artifact_kind.sql
  tests/e2e/conftest.py
  tests/e2e/tests/test_character_flow_e2e.py
Due: rustfmt, clippy, migration-naming, check-env-vars

fix: split character migration to avoid unsafe enum value use in transaction
  migrations/20250209000001_add_character_artifact_kind.sql
  migrations/20250209000002_update_artifact_constraints_for_character.sql
Due: migration-naming

feat: character artifact, conversation-to-artifact, and render endpoint (#52)
  Cargo.lock
  crates/llm/src/anthropic.rs
  crates/llm/src/lib.rs
  crates/llm/src/mock.rs
  domains/artifacts/src/api/handlers/artifacts.rs
  domains/artifacts/src/api/routes.rs
  domains/artifacts/src/domain/entities.rs
  domains/conversations/Cargo.toml
  domains/conversations/src/api/handlers/messages.rs
  domains/conversations/src/repository/messages.rs
  domains/conversations/src/repository/mod.rs
  migrations/20250209000001_add_character_artifact_kind.sql
  migrations/20250209000002_update_artifact_constraints_for_character.sql
  tests/e2e/conftest.py
  tests/e2e/tests/test_character_flow_e2e.py
Due: rustfmt, clippy, migration-naming, check-env-vars

docs: add character and render endpoints to mapping table
  docs/spec/07_Operations.md
Due: validate-api-spec

docs: add character and render endpoints to mapping table (#53)
  docs/spec/07_Operations.md
Due: validate-api-spec

test: add 9 user journey E2E tests spanning multiple domains
  tests/e2e/pyproject.toml
  tests/e2e/tests/test_user_journey_e2e.py
Due: check-env-vars

fix: adapt 4 journey tests to match actual API behavior
  tests/e2e/tests/test_user_journey_e2e.py
Due: check-env-vars

fix: UJ06 verify team ownership from creation response
  tests/e2e/tests/test_user_journey_e2e.py
Due: check-env-vars

test: add 9 user journey E2E tests spanning multiple domains (#54)
  tests/e2e/pyproject.toml
  tests/e2e/tests/test_user_journey_e2e.py
Due: check-env-vars

refactor: extract verify_key_hash to framecast-common
  Cargo.lock
  crates/auth/Cargo.toml
  crates/auth/src/backend.rs
  crates/common/Cargo.toml
  crates/common/src/crypto.rs
  crates/common/src/lib.rs
  domains/teams/src/domain/entities.rs
Due: rustfmt, clippy, check-env-vars

refactor: unify transaction functions to return RepositoryError
  domains/teams/src/repository/transactions.rs
Due: rustfmt, clippy, check-env-vars

fix: replace hardcoded invitation URL with APP_BASE_URL env var
  .env.example
  crates/email/src/aws_ses.rs
  crates/email/src/lib.rs
  crates/email/src/mock.rs
Due: rustfmt, clippy, check-env-vars

refactor: standardize repository method naming conventions
  domains/teams/src/api/handlers/api_keys.rs
  domains/teams/src/api/handlers/auth.rs
  domains/teams/src/api/handlers/memberships.rs
  domains/teams/src/api/handlers/teams.rs
  domains/teams/src/api/handlers/users.rs
  domains/teams/src/repository/api_keys.rs
  domains/teams/src/repository/invitations.rs
  domains/teams/src/repository/memberships.rs
  domains/teams/src/repository/teams.rs
  domains/teams/src/repository/users.rs
Due: rustfmt, clippy, check-env-vars

refactor: extract verify_key_hash to framecast-common (#55)
  Cargo.lock
  crates/auth/Cargo.toml
  crates/auth/src/backend.rs
  crates/common/Cargo.toml
  crates/common/src/crypto.rs
  crates/common/src/lib.rs
  domains/teams/src/domain/entities.rs
Due: rustfmt, clippy, check-env-vars

refactor: unify transaction functions to return RepositoryError (#56)
  domains/teams/src/repository/transactions.rs
Due: rustfmt, clippy, check-env-vars

fix: replace hardcoded invitation URL with APP_BASE_URL env var (#57)
  .env.example
  crates/email/src/aws_ses.rs
  crates/email/src/lib.rs
  crates/email/src/mock.rs
Due: rustfmt, clippy, check-env-vars

refactor: standardize repository method naming conventions (#58)
  domains/teams/src/api/handlers/api_keys.rs
  domains/teams/src/api/handlers/auth.rs
  domains/teams/src/api/handlers/memberships.rs
  domains/teams/src/api/handlers/teams.rs
  domains/teams/src/api/handlers/users.rs
  domains/teams/src/repository/api_keys.rs
  domains/teams/src/repository/invitations.rs
  domains/teams/src/repository/memberships.rs
  domains/teams/src/repository/teams.rs
  domains/teams/src/repository/users.rs
Due: rustfmt, clippy, check-env-vars

perf: add key_hash_prefix for O(1) API key authentication lookup
  .sqlx/query-0faa72ef34b04a25fa93b89a871a94e5a6d1c416cdf41cf45c2d348f9e9b1c1a.json
  .sqlx/query-2d54bc85f7cda1a1a433a9262fde967887b618bceca449b4ab82b40da4600f57.json
  .sqlx/query-303675ec6195817a648607c37fa873dbb8c26813a03c87e7c6b4ae7522b5afb8.json
  .sqlx/query-3e321c1e2408f6dd28186444ea784a0f6273982c4c067279914eb43267328163.json
  .sqlx/query-9eb403fe366750099feee565661d698ab0c76527d92fe96f1a72e36a710d78f3.json
  .sqlx/query-a03415044417a5fed56d5ef2a40ab1e26e2d53cc4a0d1454719e875373c0ed29.json
  .sqlx/query-e3d233f0048cc59e6e52894db2d8f52150ac0ac9f571a916d47f903fe2843b46.json
  crates/auth/src/backend.rs
  crates/common/src/crypto.rs
  crates/common/src/lib.rs
  domains/teams/src/domain/entities.rs
  domains/teams/src/repository/api_keys.rs
  migrations/20250209000003_add_key_hash_prefix.sql
Due: rustfmt, clippy, migration-naming, check-env-vars

test: add mutant-killing test for ApiKey::compute_hash_prefix
  domains/teams/src/domain/entities.rs
Due: rustfmt, clippy, check-env-vars

perf: add key_hash_prefix for O(1) API key authentication lookup (#59)
  .sqlx/query-0faa72ef34b04a25fa93b89a871a94e5a6d1c416cdf41cf45c2d348f9e9b1c1a.json
  .sqlx/query-2d54bc85f7cda1a1a433a9262fde967887b618bceca449b4ab82b40da4600f57.json
  .sqlx/query-303675ec6195817a648607c37fa873dbb8c26813a03c87e7c6b4ae7522b5afb8.json
  .sqlx/query-3e321c1e2408f6dd28186444ea784a0f6273982c4c067279914eb43267328163.json
  .sqlx/query-9eb403fe366750099feee565661d698ab0c76527d92fe96f1a72e36a710d78f3.json
  .sqlx/query-a03415044417a5fed56d5ef2a40ab1e26e2d53cc4a0d1454719e875373c0ed29.json
  .sqlx/query-e3d233f0048cc59e6e52894db2d8f52150ac0ac9f571a916d47f903fe2843b46.json
  crates/auth/src/backend.rs
  crates/common/src/crypto.rs
  crates/common/src/lib.rs
  domains/teams/src/domain/entities.rs
  domains/teams/src/repository/api_keys.rs
  migrations/20250209000003_add_key_hash_prefix.sql
Due: rustfmt, clippy, migration-naming, check-env-vars

Path conditions:
  rustfmt: any of: \.rs$, but not: (?x)^(
    \.git/.*|
    \.venv/.*|
    venv/.*|
    target/.*|
    node_modules/.*|
    \.pytest_cache/.*|
    __pycache__/.*|
    \.coverage.*|
    htmlcov/.*|
    \.mypy_cache/.*|
    \.ruff_cache/.*
)$

  clippy: any of: \.rs$, but not: (?x)^(
    \.git/.*|
    \.venv/.*|
    venv/.*|
    target/.*|
    node_modules/.*|
    \.pytest_cache/.*|
    __pycache__/.*|
    \.coverage.*|
    htmlcov/.*|
    \.mypy_cache/.*|
    \.ruff_cache/.*
)$

  migration-naming: any of: ^migrations/.*\.sql$, but not: (?x)^(
    \.git/.*|
    \.venv/.*|
    venv/.*|
    target/.*|
    node_modules/.*|
    \.pytest_cache/.*|
    __pycache__/.*|
    \.coverage.*|
    htmlcov/.*|
    \.mypy_cache/.*|
    \.ruff_cache/.*
)$

  validate-api-spec: any of: ^docs/spec/.*\.md$, but not: (?x)^(
    \.git/.*|
    \.venv/.*|
    venv/.*|
    target/.*|
    node_modules/.*|
    \.pytest_cache/.*|
    __pycache__/.*|
    \.coverage.*|
    htmlcov/.*|
    \.mypy_cache/.*|
    \.ruff_cache/.*
)$

  check-env-vars: any of: \.(rs|py)$, but not: (?x)^(
    \.git/.*|
    \.venv/.*|
    venv/.*|
    target/.*|
    node_modules/.*|
    \.pytest_cache/.*|
    __pycache__/.*|
    \.coverage.*|
    htmlcov/.*|
    \.mypy_cache/.*|
    \.ruff_cache/.*
)$

