Repository framecastdev/framecast: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, clippy, migration-naming, validate-api-spec, check-env-vars

rustfmt:
  name: Rust formatting (rustfmt)
  entry: bash -c 'source "$HOME/.cargo/env" 2>/dev/null || true && cargo fmt'
  language: system
  pass_filenames: false

clippy:
  name: Rust linting (clippy)
  entry: bash -c 'source "$HOME/.cargo/env" 2>/dev/null || true && cargo clippy --workspace --all-targets -- -D warnings'
  language: system
  pass_filenames: false

migration-naming:
  name: Validate migration file naming
  entry: python scripts/validate_migration_naming.py
  language: python

validate-api-spec:
  name: Validate API specification consistency
  entry: python scripts/validate_api_spec.py
  language: python

check-env-vars:
  name: Validate environment variable usage
  entry: python scripts/validate_env_vars.py
  language: python

fix: resolve authorization, race condition, and error handling bugs
  crates/auth/src/backend.rs
  crates/common/src/error.rs
  domains/artifacts/src/api/handlers/artifacts.rs
  domains/artifacts/src/repository/artifacts.rs
  domains/conversations/src/api/handlers/messages.rs
  domains/conversations/src/repository/messages.rs
  domains/teams/src/repository/transactions.rs
Due: rustfmt, clippy, check-env-vars

refactor: audit cleanup — remove duplicates, dead code, and inconsistencies
  Cargo.lock
  Cargo.toml
  crates/common/Cargo.toml
  crates/common/src/lib.rs
  crates/common/src/state.rs
  crates/email/Cargo.toml
  crates/email/src/lib.rs
  crates/llm/Cargo.toml
  crates/llm/src/lib.rs
  domains/artifacts/src/domain/entities.rs
  domains/artifacts/src/domain/state.rs
  domains/artifacts/src/lib.rs
  domains/conversations/src/domain/state.rs
  domains/jobs/Cargo.toml
  domains/jobs/src/domain/state.rs
  domains/projects/Cargo.toml
  domains/projects/src/domain/entities.rs
  domains/projects/src/domain/state.rs
  domains/projects/src/lib.rs
  domains/teams/Cargo.toml
  domains/teams/src/domain/entities.rs
  domains/teams/src/domain/state.rs
  domains/teams/src/repository/api_keys.rs
  domains/teams/src/repository/transactions.rs
  domains/webhooks/Cargo.toml
  domains/webhooks/src/domain/entities.rs
  domains/webhooks/src/domain/state.rs
  migrations/20250210000001_add_attempting_delivery_status.sql
Due: rustfmt, clippy, migration-naming, check-env-vars

docs: sync documentation with current codebase
  .env.example
  .secrets.baseline
  CLAUDE.md
  docs/spec/04_Entities.md
  docs/spec/06_Invariants.md
  docs/spec/08_Permissions.md
  infra/opentofu/README.md
  migrations/README.md
  tests/README.md
Due: validate-api-spec

chore: fix infrastructure and CI configuration issues
  .github/workflows/ci.yml
  Justfile
  docker-compose.local.yml
  infra/opentofu/environments/dev.tfvars
  infra/opentofu/environments/prod.tfvars
  infra/opentofu/environments/staging.tfvars
  infra/opentofu/main.tf
  infra/opentofu/variables.tf
  infra/opentofu/versions.tf
  infra/prometheus/prometheus.yml
Due: none

refactor: audit cleanup — remove duplicates, dead code, and inconsistencies (#61)
  Cargo.lock
  Cargo.toml
  crates/common/Cargo.toml
  crates/common/src/lib.rs
  crates/common/src/state.rs
  crates/email/Cargo.toml
  crates/email/src/lib.rs
  crates/llm/Cargo.toml
  crates/llm/src/lib.rs
  domains/artifacts/src/domain/entities.rs
  domains/artifacts/src/domain/state.rs
  domains/artifacts/src/lib.rs
  domains/conversations/src/domain/state.rs
  domains/jobs/Cargo.toml
  domains/jobs/src/domain/state.rs
  domains/projects/Cargo.toml
  domains/projects/src/domain/entities.rs
  domains/projects/src/domain/state.rs
  domains/projects/src/lib.rs
  domains/teams/Cargo.toml
  domains/teams/src/domain/entities.rs
  domains/teams/src/domain/state.rs
  domains/teams/src/repository/api_keys.rs
  domains/teams/src/repository/transactions.rs
  domains/webhooks/Cargo.toml
  domains/webhooks/src/domain/entities.rs
  domains/webhooks/src/domain/state.rs
  migrations/20250210000001_add_attempting_delivery_status.sql
Due: rustfmt, clippy, migration-naming, check-env-vars

docs: sync documentation with current codebase (#62)
  .env.example
  .secrets.baseline
  CLAUDE.md
  docs/spec/04_Entities.md
  docs/spec/06_Invariants.md
  docs/spec/08_Permissions.md
  infra/opentofu/README.md
  migrations/README.md
  tests/README.md
Due: validate-api-spec

fix: resolve authorization, race condition, and error handling bugs (#60)
  crates/auth/src/backend.rs
  crates/common/src/error.rs
  domains/artifacts/src/api/handlers/artifacts.rs
  domains/artifacts/src/repository/artifacts.rs
  domains/conversations/src/api/handlers/messages.rs
  domains/conversations/src/repository/messages.rs
  domains/teams/src/repository/transactions.rs
Due: rustfmt, clippy, check-env-vars

chore: fix infrastructure and CI configuration issues (#63)
  .github/workflows/ci.yml
  Justfile
  docker-compose.local.yml
  infra/opentofu/environments/dev.tfvars
  infra/opentofu/environments/prod.tfvars
  infra/opentofu/environments/staging.tfvars
  infra/opentofu/main.tf
  infra/opentofu/variables.tf
  infra/opentofu/versions.tf
  infra/prometheus/prometheus.yml
Due: none

fix: kill 3 surviving mutants in artifact entities
  domains/artifacts/src/domain/entities.rs
Due: rustfmt, clippy, check-env-vars

fix: kill 3 surviving mutants in artifact entities (#65)
  domains/artifacts/src/domain/entities.rs
Due: rustfmt, clippy, check-env-vars

fix: add pagination, security audit, and code quality improvements
  .github/workflows/ci.yml
  crates/common/src/extractors.rs
  crates/common/src/lib.rs
  domains/artifacts/src/api/handlers/artifacts.rs
  domains/artifacts/src/api/handlers/system_assets.rs
  domains/artifacts/src/repository/artifacts.rs
  domains/artifacts/src/repository/system_assets.rs
  domains/conversations/src/api/handlers/conversations.rs
  domains/conversations/src/api/handlers/messages.rs
  domains/conversations/src/domain/entities.rs
  domains/conversations/src/repository/conversations.rs
  domains/conversations/src/repository/messages.rs
  domains/teams/src/domain/entities.rs
  domains/teams/src/domain/state.rs
  domains/teams/src/lib.rs
  domains/teams/src/repository/invitations.rs
Due: rustfmt, clippy, check-env-vars

fix: revert default list filter, upgrade validator, add audit config
  .cargo/audit.toml
  Cargo.lock
  Cargo.toml
  domains/conversations/src/repository/conversations.rs
Due: rustfmt, clippy, check-env-vars

fix: gate Arc/Mutex import behind cfg(test) in llm mock
  crates/llm/src/mock.rs
Due: rustfmt, clippy, check-env-vars

fix: add pagination, security audit, and code quality improvements (#64)
  .cargo/audit.toml
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  crates/common/src/extractors.rs
  crates/common/src/lib.rs
  crates/llm/src/mock.rs
  domains/artifacts/src/api/handlers/artifacts.rs
  domains/artifacts/src/api/handlers/system_assets.rs
  domains/artifacts/src/repository/artifacts.rs
  domains/artifacts/src/repository/system_assets.rs
  domains/conversations/src/api/handlers/conversations.rs
  domains/conversations/src/api/handlers/messages.rs
  domains/conversations/src/domain/entities.rs
  domains/conversations/src/repository/conversations.rs
  domains/conversations/src/repository/messages.rs
  domains/teams/src/domain/entities.rs
  domains/teams/src/domain/state.rs
  domains/teams/src/lib.rs
  domains/teams/src/repository/invitations.rs
Due: rustfmt, clippy, check-env-vars

chore: add README, down migrations, and remote state backend
  .github/workflows/ci.yml
  .secrets.baseline
  CLAUDE.md
  Justfile
  README.md
  infra/opentofu/README.md
  infra/opentofu/environments/backend-dev.hcl
  infra/opentofu/environments/backend-local.hcl
  infra/opentofu/environments/backend-prod.hcl
  infra/opentofu/environments/backend-staging.hcl
  infra/opentofu/versions.tf
  migrations/20240130000001_schema.down.sql
  migrations/20240130000001_schema.up.sql
  migrations/20240130000002_functions.down.sql
  migrations/20240130000002_functions.up.sql
  migrations/20240130000003_fix_urn_validation.down.sql
  migrations/20240130000003_fix_urn_validation.up.sql
  migrations/20250208000001_conversations_artifacts.down.sql
  migrations/20250208000001_conversations_artifacts.up.sql
  migrations/20250209000001_add_character_artifact_kind.down.sql
  migrations/20250209000001_add_character_artifact_kind.up.sql
  migrations/20250209000002_update_artifact_constraints_for_character.down.sql
  migrations/20250209000002_update_artifact_constraints_for_character.up.sql
  migrations/20250209000003_add_key_hash_prefix.down.sql
  migrations/20250209000003_add_key_hash_prefix.up.sql
  migrations/20250210000001_add_attempting_delivery_status.down.sql
  migrations/20250210000001_add_attempting_delivery_status.up.sql
  migrations/README.md
  scripts/validate_migration_naming.py
Due: migration-naming, check-env-vars

chore: add README, down migrations, and remote state backend (#66)
  .github/workflows/ci.yml
  .secrets.baseline
  CLAUDE.md
  Justfile
  README.md
  infra/opentofu/README.md
  infra/opentofu/environments/backend-dev.hcl
  infra/opentofu/environments/backend-local.hcl
  infra/opentofu/environments/backend-prod.hcl
  infra/opentofu/environments/backend-staging.hcl
  infra/opentofu/versions.tf
  migrations/20240130000001_schema.down.sql
  migrations/20240130000001_schema.up.sql
  migrations/20240130000002_functions.down.sql
  migrations/20240130000002_functions.up.sql
  migrations/20240130000003_fix_urn_validation.down.sql
  migrations/20240130000003_fix_urn_validation.up.sql
  migrations/20250208000001_conversations_artifacts.down.sql
  migrations/20250208000001_conversations_artifacts.up.sql
  migrations/20250209000001_add_character_artifact_kind.down.sql
  migrations/20250209000001_add_character_artifact_kind.up.sql
  migrations/20250209000002_update_artifact_constraints_for_character.down.sql
  migrations/20250209000002_update_artifact_constraints_for_character.up.sql
  migrations/20250209000003_add_key_hash_prefix.down.sql
  migrations/20250209000003_add_key_hash_prefix.up.sql
  migrations/20250210000001_add_attempting_delivery_status.down.sql
  migrations/20250210000001_add_attempting_delivery_status.up.sql
  migrations/README.md
  scripts/validate_migration_naming.py
Due: migration-naming, check-env-vars

chore: regenerate .sqlx offline cache
  .sqlx/query-15a4e7b8cce458a690b62d4a18acc827f48c90c850cf839e618f395a198a542f.json
  .sqlx/query-191091f6d901c6b1615a402bb02389d0aa7704f24617fe5cddabd7a02ef3a00b.json
  .sqlx/query-6c85c829496fa2f8eb7541a5ae4d1ddf5570cdfe01c2d4944d9a16355d93dfc8.json
  .sqlx/query-a7cb2465b87fbbc9c8244535e8dd73cfaee262b2e76596581c560631cbdc5e53.json
  .sqlx/query-af21bfb9b12c7145d29b196d913765e5ee32f4cd1f37bb0460df2d9b59de794f.json
  .sqlx/query-ec346b47815f2e750b66d751afc5830fa8c867fd5541899cad67168c99068c0c.json
Due: none

chore: regenerate .sqlx offline cache (#67)
  .sqlx/query-15a4e7b8cce458a690b62d4a18acc827f48c90c850cf839e618f395a198a542f.json
  .sqlx/query-191091f6d901c6b1615a402bb02389d0aa7704f24617fe5cddabd7a02ef3a00b.json
  .sqlx/query-6c85c829496fa2f8eb7541a5ae4d1ddf5570cdfe01c2d4944d9a16355d93dfc8.json
  .sqlx/query-a7cb2465b87fbbc9c8244535e8dd73cfaee262b2e76596581c560631cbdc5e53.json
  .sqlx/query-af21bfb9b12c7145d29b196d913765e5ee32f4cd1f37bb0460df2d9b59de794f.json
  .sqlx/query-ec346b47815f2e750b66d751afc5830fa8c867fd5541899cad67168c99068c0c.json
Due: none

fix: register character pytest mark to suppress warning
  tests/e2e/pyproject.toml
Due: none

fix: register character pytest mark to suppress warning (#68)
  tests/e2e/pyproject.toml
Due: none

fix: update integration test for JIT provisioning behavior
  tests/integration/auth/mod.rs
Due: rustfmt, clippy, check-env-vars

fix: update E2E tests for JIT provisioning side effects
  tests/e2e/tests/test_signup_jit_e2e.py
  tests/e2e/tests/test_user_account_e2e.py
  tests/e2e/tests/test_user_journey_e2e.py
Due: check-env-vars

feat: implement JIT user provisioning on first authenticated request
  crates/auth/src/backend.rs
  crates/auth/src/error.rs
  tests/e2e/conftest.py
  tests/e2e/pyproject.toml
  tests/e2e/tests/test_signup_jit_e2e.py
Due: rustfmt, clippy, check-env-vars

feat: implement JIT user provisioning on first authenticated request (#69)
  crates/auth/src/backend.rs
  crates/auth/src/error.rs
  tests/e2e/conftest.py
  tests/e2e/pyproject.toml
  tests/e2e/tests/test_signup_jit_e2e.py
  tests/e2e/tests/test_user_account_e2e.py
  tests/e2e/tests/test_user_journey_e2e.py
  tests/integration/auth/mod.rs
Due: rustfmt, clippy, check-env-vars

feat: add inngest crate with event service trait and mock
  .env.example
  Cargo.lock
  Cargo.toml
  crates/inngest/Cargo.toml
  crates/inngest/src/client.rs
  crates/inngest/src/lib.rs
  crates/inngest/src/mock.rs
Due: rustfmt, clippy, check-env-vars

feat: add runpod crate with render service trait and programmable mock
  .env.example
  Cargo.lock
  Cargo.toml
  crates/runpod/Cargo.toml
  crates/runpod/src/lib.rs
  crates/runpod/src/mock.rs
Due: rustfmt, clippy, check-env-vars

fix: serialize env-var tests with mutex to prevent race condition
  crates/runpod/src/lib.rs
Due: rustfmt, clippy, check-env-vars

fix: replace env-var-based runpod tests with struct-based tests
  crates/runpod/src/lib.rs
Due: rustfmt, clippy, check-env-vars

fix: add serial_test to prevent env var race in inngest tests
  Cargo.lock
  Cargo.toml
  crates/inngest/Cargo.toml
  crates/inngest/src/lib.rs
Due: rustfmt, clippy, check-env-vars

feat: add runpod crate with render service trait and programmable mock (#71)
  .env.example
  Cargo.lock
  Cargo.toml
  crates/inngest/src/lib.rs
  crates/runpod/Cargo.toml
  crates/runpod/src/lib.rs
  crates/runpod/src/mock.rs
Due: rustfmt, clippy, check-env-vars

feat: add jobs repository with job and event CRUD operations
  Cargo.lock
  domains/jobs/Cargo.toml
  domains/jobs/src/domain/entities.rs
  domains/jobs/src/lib.rs
  domains/jobs/src/repository/job_events.rs
  domains/jobs/src/repository/jobs.rs
  domains/jobs/src/repository/mod.rs
  domains/jobs/src/repository/transactions.rs
Due: rustfmt, clippy, check-env-vars

fix: remove incorrect license claim from README
  README.md
Due: none

fix: skip CI for docs-only changes
  .github/workflows/ci.yml
Due: none

feat: add jobs repository with job and event CRUD operations (#72)
  Cargo.lock
  domains/jobs/Cargo.toml
  domains/jobs/src/domain/entities.rs
  domains/jobs/src/lib.rs
  domains/jobs/src/repository/job_events.rs
  domains/jobs/src/repository/jobs.rs
  domains/jobs/src/repository/mod.rs
  domains/jobs/src/repository/transactions.rs
Due: rustfmt, clippy, check-env-vars

feat: implement jobs API with all 8 operations, callback endpoint, and render migration
  Cargo.lock
  crates/app/Cargo.toml
  crates/app/src/lib.rs
  domains/artifacts/src/api/handlers/artifacts.rs
  domains/artifacts/src/api/routes.rs
  domains/jobs/Cargo.toml
  domains/jobs/src/api/handlers/callbacks.rs
  domains/jobs/src/api/handlers/jobs.rs
  domains/jobs/src/api/handlers/mock_admin.rs
  domains/jobs/src/api/handlers/mod.rs
  domains/jobs/src/api/middleware.rs
  domains/jobs/src/api/mod.rs
  domains/jobs/src/api/routes.rs
  domains/jobs/src/lib.rs
  domains/jobs/src/repository/mod.rs
Due: rustfmt, clippy, check-env-vars

fix: replace env-var tests with struct-based tests to fix CI parallelism
  crates/inngest/src/lib.rs
Due: rustfmt, clippy, check-env-vars

fix: update E2E tests for new render response shape
  tests/e2e/tests/test_character_flow_e2e.py
  tests/e2e/tests/test_user_journey_e2e.py
Due: check-env-vars

feat: implement jobs API with 8 operations, callbacks, and render migration (#73)
  Cargo.lock
  crates/app/Cargo.toml
  crates/app/src/lib.rs
  crates/inngest/src/lib.rs
  domains/artifacts/src/api/handlers/artifacts.rs
  domains/artifacts/src/api/routes.rs
  domains/jobs/Cargo.toml
  domains/jobs/src/api/handlers/callbacks.rs
  domains/jobs/src/api/handlers/jobs.rs
  domains/jobs/src/api/handlers/mock_admin.rs
  domains/jobs/src/api/handlers/mod.rs
  domains/jobs/src/api/middleware.rs
  domains/jobs/src/api/mod.rs
  domains/jobs/src/api/routes.rs
  domains/jobs/src/lib.rs
  domains/jobs/src/repository/mod.rs
  tests/e2e/tests/test_character_flow_e2e.py
  tests/e2e/tests/test_user_journey_e2e.py
Due: rustfmt, clippy, check-env-vars

ci: trigger CI re-run
  Cargo.lock
Due: none

Path conditions:
  rustfmt: any of: \.rs$, but not: (?x)^(
    \.git/.*|
    \.venv/.*|
    venv/.*|
    target/.*|
    node_modules/.*|
    \.pytest_cache/.*|
    __pycache__/.*|
    \.coverage.*|
    htmlcov/.*|
    \.mypy_cache/.*|
    \.ruff_cache/.*
)$

  clippy: any of: \.rs$, but not: (?x)^(
    \.git/.*|
    \.venv/.*|
    venv/.*|
    target/.*|
    node_modules/.*|
    \.pytest_cache/.*|
    __pycache__/.*|
    \.coverage.*|
    htmlcov/.*|
    \.mypy_cache/.*|
    \.ruff_cache/.*
)$

  migration-naming: any of: ^migrations/.*\.sql$, but not: (?x)^(
    \.git/.*|
    \.venv/.*|
    venv/.*|
    target/.*|
    node_modules/.*|
    \.pytest_cache/.*|
    __pycache__/.*|
    \.coverage.*|
    htmlcov/.*|
    \.mypy_cache/.*|
    \.ruff_cache/.*
)$

  validate-api-spec: any of: ^docs/spec/.*\.md$, but not: (?x)^(
    \.git/.*|
    \.venv/.*|
    venv/.*|
    target/.*|
    node_modules/.*|
    \.pytest_cache/.*|
    __pycache__/.*|
    \.coverage.*|
    htmlcov/.*|
    \.mypy_cache/.*|
    \.ruff_cache/.*
)$

  check-env-vars: any of: \.(rs|py)$, but not: (?x)^(
    \.git/.*|
    \.venv/.*|
    venv/.*|
    target/.*|
    node_modules/.*|
    \.pytest_cache/.*|
    __pycache__/.*|
    \.coverage.*|
    htmlcov/.*|
    \.mypy_cache/.*|
    \.ruff_cache/.*
)$

