Repository framecastdev/framecast: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, clippy, migration-naming, validate-api-spec, check-env-vars

rustfmt:
  name: Rust formatting (rustfmt)
  entry: bash -c 'source "$HOME/.cargo/env" 2>/dev/null || true && cargo fmt'
  language: system
  pass_filenames: false

clippy:
  name: Rust linting (clippy)
  entry: bash -c 'source "$HOME/.cargo/env" 2>/dev/null || true && cargo clippy --workspace --all-targets -- -D warnings'
  language: system
  pass_filenames: false

migration-naming:
  name: Validate migration file naming
  entry: python scripts/validate_migration_naming.py
  language: python

validate-api-spec:
  name: Validate API specification consistency
  entry: python scripts/validate_api_spec.py
  language: python

check-env-vars:
  name: Validate environment variable usage
  entry: python scripts/validate_env_vars.py
  language: python

fix: replace env-var-based inngest tests with struct-based tests
  crates/inngest/Cargo.toml
Due: none

feat: add jobs domain integration tests (40 tests)
  Cargo.lock
  tests/integration/Cargo.toml
  tests/integration/api_test.rs
  tests/integration/common/mod.rs
  tests/integration/jobs/mod.rs
Due: rustfmt, clippy, check-env-vars

fix: remove incorrect license claim from README (#76)
  README.md
Due: none

fix: skip CI for docs-only changes (#77)
  .github/workflows/ci.yml
Due: none

feat: add jobs domain integration tests (40 tests) (#74)
  Cargo.lock
  crates/inngest/Cargo.toml
  tests/integration/Cargo.toml
  tests/integration/api_test.rs
  tests/integration/common/mod.rs
  tests/integration/jobs/mod.rs
Due: rustfmt, clippy, check-env-vars

feat: add jobs domain E2E tests (125 stories across 7 files)
  tests/e2e/conftest.py
  tests/e2e/pyproject.toml
  tests/e2e/tests/test_cross_domain_e2e.py
  tests/e2e/tests/test_job_access_control_e2e.py
  tests/e2e/tests/test_job_concurrency_e2e.py
  tests/e2e/tests/test_job_crud_e2e.py
  tests/e2e/tests/test_job_events_sse_e2e.py
  tests/e2e/tests/test_job_lifecycle_e2e.py
  tests/e2e/tests/test_render_flow_e2e.py
  tests/e2e/tests/test_user_journey_e2e.py
Due: check-env-vars

fix: resolve 15 E2E test failures in jobs domain
  domains/jobs/src/api/handlers/jobs.rs
  domains/jobs/src/domain/entities.rs
  domains/jobs/src/repository/jobs.rs
  tests/e2e/conftest.py
  tests/e2e/tests/test_job_events_sse_e2e.py
  tests/e2e/tests/test_render_flow_e2e.py
Due: rustfmt, clippy, check-env-vars

fix: update storyboard render integration test to expect 400
  tests/integration/jobs/mod.rs
Due: rustfmt, clippy, check-env-vars

fix: add storyboard rendering support to render endpoint
  domains/jobs/src/api/handlers/jobs.rs
Due: rustfmt, clippy, check-env-vars

fix: update integration test for storyboard rendering
  tests/integration/jobs/mod.rs
Due: rustfmt, clippy, check-env-vars

fix: clear artifact job references on delete, update storyboard E2E test
  domains/jobs/src/repository/jobs.rs
  tests/e2e/tests/test_render_flow_e2e.py
Due: rustfmt, clippy, check-env-vars

fix: use 'upload' source when clearing job references on delete
  domains/jobs/src/repository/jobs.rs
Due: rustfmt, clippy, check-env-vars

fix: add explicit enum cast for artifact source update, add debug assertion
  domains/jobs/src/repository/jobs.rs
  tests/e2e/tests/test_job_lifecycle_e2e.py
Due: rustfmt, clippy, check-env-vars

feat: add jobs domain E2E tests (125 stories) (#75)
  domains/jobs/src/api/handlers/jobs.rs
  domains/jobs/src/domain/entities.rs
  domains/jobs/src/repository/jobs.rs
  tests/e2e/conftest.py
  tests/e2e/pyproject.toml
  tests/e2e/tests/test_cross_domain_e2e.py
  tests/e2e/tests/test_job_access_control_e2e.py
  tests/e2e/tests/test_job_concurrency_e2e.py
  tests/e2e/tests/test_job_crud_e2e.py
  tests/e2e/tests/test_job_events_sse_e2e.py
  tests/e2e/tests/test_job_lifecycle_e2e.py
  tests/e2e/tests/test_render_flow_e2e.py
  tests/e2e/tests/test_user_journey_e2e.py
Due: rustfmt, clippy, check-env-vars

fix: make job operations atomic and prevent concurrency race conditions
  domains/jobs/src/api/handlers/callbacks.rs
  domains/jobs/src/api/handlers/jobs.rs
  domains/jobs/src/repository/transactions.rs
Due: rustfmt, clippy, check-env-vars

fix: standardize pagination, extract owner URN helper, deduplicate SQL columns
  crates/auth/src/context.rs
  domains/artifacts/src/api/handlers/artifacts.rs
  domains/jobs/src/api/handlers/jobs.rs
  domains/jobs/src/repository/jobs.rs
Due: rustfmt, clippy, check-env-vars

fix: gate mock render fields behind feature flag
  crates/app/Cargo.toml
  crates/app/src/lib.rs
  domains/jobs/Cargo.toml
  domains/jobs/src/api/handlers/mod.rs
  domains/jobs/src/api/middleware.rs
  domains/jobs/src/api/routes.rs
  tests/integration/Cargo.toml
Due: rustfmt, clippy, check-env-vars

fix: use subquery for FOR UPDATE with COUNT aggregate
  domains/jobs/src/repository/transactions.rs
Due: rustfmt, clippy, check-env-vars

fix: correct URN format in accessible_owner_urns tests
  crates/auth/src/context.rs
Due: rustfmt, clippy, check-env-vars

fix: revert size_bytes to 1 (DB CHECK constraint requires > 0)
  domains/jobs/src/api/handlers/jobs.rs
Due: rustfmt, clippy, check-env-vars

fix: avoid serde(flatten) with Query extractor
  domains/jobs/src/api/handlers/jobs.rs
Due: rustfmt, clippy, check-env-vars

fix: harden CORS, add body size limit, validate message content
  .env.example
  .secrets.baseline
  crates/app/src/bin/lambda.rs
  crates/app/src/bin/local.rs
  crates/app/src/lib.rs
  domains/conversations/src/api/handlers/messages.rs
  infra/opentofu/environments/dev.tfvars
  infra/opentofu/environments/localstack.tfvars
  infra/opentofu/environments/staging.tfvars
  infra/opentofu/main.tf
  infra/opentofu/variables.tf
Due: rustfmt, clippy, check-env-vars

fix: increase message content max length to 100000
  domains/conversations/src/api/handlers/messages.rs
Due: rustfmt, clippy, check-env-vars

fix: harden CORS, body size limit, message validation (#81)
  .env.example
  .secrets.baseline
  crates/app/src/bin/lambda.rs
  crates/app/src/bin/local.rs
  crates/app/src/lib.rs
  domains/conversations/src/api/handlers/messages.rs
  infra/opentofu/environments/dev.tfvars
  infra/opentofu/environments/localstack.tfvars
  infra/opentofu/environments/staging.tfvars
  infra/opentofu/main.tf
  infra/opentofu/variables.tf
Due: rustfmt, clippy, check-env-vars

docs: fix stale stub labels, dependency diagram, mutation testing
  .secrets.baseline
  CLAUDE.md
  Justfile
  README.md
Due: none

docs: fix stale stub labels, dependency diagram, mutation testing (#82)
  .secrets.baseline
  CLAUDE.md
  Justfile
  README.md
Due: none

fix: delete stub crates, extract SQL constants, deduplicate helpers
  Cargo.lock
  Cargo.toml
  Justfile
  domains/artifacts/src/repository/artifacts.rs
  domains/conversations/src/repository/conversations.rs
  domains/jobs/src/repository/job_events.rs
  domains/jobs/src/repository/jobs.rs
  domains/jobs/src/repository/transactions.rs
  domains/projects/Cargo.toml
  domains/projects/src/domain/entities.rs
  domains/projects/src/domain/mod.rs
  domains/projects/src/domain/state.rs
  domains/projects/src/lib.rs
  domains/webhooks/Cargo.toml
  domains/webhooks/src/domain/entities.rs
  domains/webhooks/src/domain/mod.rs
  domains/webhooks/src/domain/state.rs
  domains/webhooks/src/lib.rs
  tests/integration/common/mod.rs
Due: rustfmt, clippy, check-env-vars

fix: delete stub crates, extract SQL constants, deduplicate helpers (#83)
  Cargo.lock
  Cargo.toml
  Justfile
  domains/artifacts/src/repository/artifacts.rs
  domains/conversations/src/repository/conversations.rs
  domains/jobs/src/repository/job_events.rs
  domains/jobs/src/repository/jobs.rs
  domains/jobs/src/repository/transactions.rs
  domains/projects/Cargo.toml
  domains/projects/src/domain/entities.rs
  domains/projects/src/domain/mod.rs
  domains/projects/src/domain/state.rs
  domains/projects/src/lib.rs
  domains/webhooks/Cargo.toml
  domains/webhooks/src/domain/entities.rs
  domains/webhooks/src/domain/mod.rs
  domains/webhooks/src/domain/state.rs
  domains/webhooks/src/lib.rs
  tests/integration/common/mod.rs
Due: rustfmt, clippy, check-env-vars

fix: kill surviving mutants in jobs domain, fail CI on missed mutants
  .github/workflows/ci.yml
  domains/jobs/src/domain/entities.rs
Due: rustfmt, clippy, check-env-vars

fix: kill surviving mutants in jobs domain, fail CI on missed mutants (#84)
  .github/workflows/ci.yml
  domains/jobs/src/domain/entities.rs
Due: rustfmt, clippy, check-env-vars

fix: comprehensive post-rename audit cleanup (jobs→generations)
  .env.example
  README.md
  crates/email/src/lib.rs
  crates/inngest/src/mock.rs
  crates/llm/src/lib.rs
  crates/llm/src/mock.rs
  crates/runpod/src/mock.rs
  docs/spec/06_Invariants.md
  docs/spec/09_Validation.md
  docs/spec/10_Rate_Limits.md
  docs/spec/14_Appendices.md
  tests/e2e/pyproject.toml
  tests/e2e/tests/test_cross_domain_e2e.py
Due: rustfmt, clippy, validate-api-spec, check-env-vars

fix: final audit cleanup — stale refs, doc accuracy, dead exports
  CLAUDE.md
  README.md
  TEST_STRATEGY.md
  crates/runpod/src/lib.rs
  docker-compose.local.yml
  docs/PRE_COMMIT_SETUP.md
  docs/spec/07_Operations.md
  domains/artifacts/src/domain/entities.rs
  domains/teams/src/api/handlers/teams.rs
  domains/teams/src/lib.rs
Due: rustfmt, clippy, validate-api-spec, check-env-vars

fix: replace all 422 status expectations with 400 in tests
  tests/e2e/tests/test_api_keys_e2e.py
  tests/e2e/tests/test_character_flow_e2e.py
  tests/e2e/tests/test_conversation_lifecycle_e2e.py
  tests/e2e/tests/test_cross_domain_e2e.py
  tests/e2e/tests/test_error_handling_e2e.py
  tests/e2e/tests/test_invitation_lifecycle_e2e.py
  tests/e2e/tests/test_message_e2e.py
  tests/e2e/tests/test_render_flow_e2e.py
  tests/e2e/tests/test_team_crud_e2e.py
  tests/e2e/tests/test_team_limits_e2e.py
  tests/e2e/tests/test_user_account_e2e.py
  tests/integration/artifacts/mod.rs
  tests/integration/conversations/mod.rs
  tests/integration/generations/mod.rs
  tests/integration/messages/mod.rs
Due: rustfmt, clippy, check-env-vars

fix: tighten E2E test assertions — eliminate multi-status ambiguity
  tests/e2e/tests/test_api_keys_e2e.py
  tests/e2e/tests/test_data_integrity_e2e.py
  tests/e2e/tests/test_error_handling_e2e.py
  tests/e2e/tests/test_generation_access_control_e2e.py
  tests/e2e/tests/test_generation_concurrency_e2e.py
  tests/e2e/tests/test_invitation_lifecycle_e2e.py
  tests/e2e/tests/test_invitation_workflow_e2e.py
  tests/e2e/tests/test_membership_management_e2e.py
  tests/e2e/tests/test_multi_user_scenarios_e2e.py
  tests/e2e/tests/test_render_flow_e2e.py
  tests/e2e/tests/test_role_based_access_e2e.py
  tests/e2e/tests/test_team_crud_e2e.py
  tests/e2e/tests/test_team_limits_e2e.py
  tests/e2e/tests/test_user_account_e2e.py
  tests/e2e/tests/test_user_journey_e2e.py
Due: check-env-vars

fix: correct three E2E assertion mismatches found by CI
  tests/e2e/tests/test_membership_management_e2e.py
  tests/e2e/tests/test_render_flow_e2e.py
Due: check-env-vars

fix: replace plain Json<T> with ValidatedJson<T> — standardize 400 for all input errors
  CLAUDE.md
  Cargo.lock
  domains/conversations/src/api/handlers/conversations.rs
  domains/generations/Cargo.toml
  domains/generations/src/api/handlers/callbacks.rs
  domains/generations/src/api/handlers/generations.rs
  domains/generations/src/api/handlers/mock_admin.rs
  tests/e2e/tests/test_render_flow_e2e.py
Due: rustfmt, clippy, check-env-vars

fix: final audit cleanup — stale refs, assertions, dead exports (#87)
  CLAUDE.md
  Cargo.lock
  README.md
  TEST_STRATEGY.md
  crates/runpod/src/lib.rs
  docker-compose.local.yml
  docs/PRE_COMMIT_SETUP.md
  docs/spec/07_Operations.md
  domains/artifacts/src/domain/entities.rs
  domains/conversations/src/api/handlers/conversations.rs
  domains/generations/Cargo.toml
  domains/generations/src/api/handlers/callbacks.rs
  domains/generations/src/api/handlers/generations.rs
  domains/generations/src/api/handlers/mock_admin.rs
  domains/teams/src/api/handlers/teams.rs
  domains/teams/src/lib.rs
  tests/e2e/tests/test_api_keys_e2e.py
  tests/e2e/tests/test_character_flow_e2e.py
  tests/e2e/tests/test_conversation_lifecycle_e2e.py
  tests/e2e/tests/test_cross_domain_e2e.py
  tests/e2e/tests/test_data_integrity_e2e.py
  tests/e2e/tests/test_error_handling_e2e.py
  tests/e2e/tests/test_generation_access_control_e2e.py
  tests/e2e/tests/test_generation_concurrency_e2e.py
  tests/e2e/tests/test_invitation_lifecycle_e2e.py
  tests/e2e/tests/test_invitation_workflow_e2e.py
  tests/e2e/tests/test_membership_management_e2e.py
  tests/e2e/tests/test_message_e2e.py
  tests/e2e/tests/test_multi_user_scenarios_e2e.py
  tests/e2e/tests/test_render_flow_e2e.py
  tests/e2e/tests/test_role_based_access_e2e.py
  tests/e2e/tests/test_team_crud_e2e.py
  tests/e2e/tests/test_team_limits_e2e.py
  tests/e2e/tests/test_user_account_e2e.py
  tests/e2e/tests/test_user_journey_e2e.py
  tests/integration/artifacts/mod.rs
  tests/integration/conversations/mod.rs
  tests/integration/generations/mod.rs
  tests/integration/messages/mod.rs
Due: rustfmt, clippy, validate-api-spec, check-env-vars

Path conditions:
  rustfmt: any of: \.rs$, but not: (?x)^(
    \.git/.*|
    \.venv/.*|
    venv/.*|
    target/.*|
    node_modules/.*|
    \.pytest_cache/.*|
    __pycache__/.*|
    \.coverage.*|
    htmlcov/.*|
    \.mypy_cache/.*|
    \.ruff_cache/.*
)$

  clippy: any of: \.rs$, but not: (?x)^(
    \.git/.*|
    \.venv/.*|
    venv/.*|
    target/.*|
    node_modules/.*|
    \.pytest_cache/.*|
    __pycache__/.*|
    \.coverage.*|
    htmlcov/.*|
    \.mypy_cache/.*|
    \.ruff_cache/.*
)$

  migration-naming: any of: ^migrations/.*\.sql$, but not: (?x)^(
    \.git/.*|
    \.venv/.*|
    venv/.*|
    target/.*|
    node_modules/.*|
    \.pytest_cache/.*|
    __pycache__/.*|
    \.coverage.*|
    htmlcov/.*|
    \.mypy_cache/.*|
    \.ruff_cache/.*
)$

  validate-api-spec: any of: ^docs/spec/.*\.md$, but not: (?x)^(
    \.git/.*|
    \.venv/.*|
    venv/.*|
    target/.*|
    node_modules/.*|
    \.pytest_cache/.*|
    __pycache__/.*|
    \.coverage.*|
    htmlcov/.*|
    \.mypy_cache/.*|
    \.ruff_cache/.*
)$

  check-env-vars: any of: \.(rs|py)$, but not: (?x)^(
    \.git/.*|
    \.venv/.*|
    venv/.*|
    target/.*|
    node_modules/.*|
    \.pytest_cache/.*|
    __pycache__/.*|
    \.coverage.*|
    htmlcov/.*|
    \.mypy_cache/.*|
    \.ruff_cache/.*
)$

