Repository framecastdev/framecast: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, clippy, migration-naming, validate-api-spec, check-env-vars

rustfmt:
  name: Rust formatting (rustfmt)
  entry: bash -c 'source "$HOME/.cargo/env" 2>/dev/null || true && cargo fmt'
  language: system
  pass_filenames: false

clippy:
  name: Rust linting (clippy)
  entry: bash -c 'source "$HOME/.cargo/env" 2>/dev/null || true && cargo clippy --workspace --all-targets -- -D warnings'
  language: system
  pass_filenames: false

migration-naming:
  name: Validate migration file naming
  entry: python scripts/validate_migration_naming.py
  language: python

validate-api-spec:
  name: Validate API specification consistency
  entry: python scripts/validate_api_spec.py
  language: python

check-env-vars:
  name: Validate environment variable usage
  entry: python scripts/validate_env_vars.py
  language: python

upgrade: implement latest software versions across development stack
  .pre-commit-config.yaml
  pyproject.toml
Due: none

upgrade: re-enable semgrep v1.150.0 with Python 3.14 compatibility
  .pre-commit-config.yaml
Due: none

refactor: apply comprehensive code quality improvements
  PLAN.md
  migrations/20240130000002_job_sequence_functions.sql
  scripts/cleanup_jobs.py
  scripts/export_user_data.py
  scripts/generate_api_key.py
  scripts/health_check.py
  scripts/seed.py
  tests/admin_scripts/test_database_seeding.py
  tests/conftest.py
  tests/e2e/conftest.py
  tests/e2e/tests/test_auth.py
  tests/migrations/test_database_migrations.py
  tests/run_tests.py
Due: migration-naming, check-env-vars

fix: resolve comprehensive code quality issues across codebase
  PLAN.md
  migrations/20240130000002_job_sequence_functions.sql
  scripts/cleanup_jobs.py
  scripts/export_user_data.py
  scripts/generate_api_key.py
  scripts/health_check.py
  scripts/seed.py
  tests/admin_scripts/test_database_seeding.py
  tests/conftest.py
  tests/e2e/conftest.py
  tests/e2e/tests/test_auth.py
  tests/migrations/test_database_migrations.py
Due: migration-naming, check-env-vars

feat: implement comprehensive domain entities with validation
  Cargo.lock
  crates/domain/Cargo.toml
  crates/domain/src/entities.rs
Due: rustfmt, clippy, check-env-vars

feat: implement secure API key hashing and core database repositories
  Cargo.lock
  crates/db/src/repositories.rs
  crates/domain/Cargo.toml
  crates/domain/src/entities.rs
  scripts/cleanup_jobs.py
Due: rustfmt, clippy, check-env-vars

feat: implement comprehensive role-based authorization layer
  crates/common/src/lib.rs
  crates/db/src/repositories.rs
  crates/domain/src/auth.rs
  crates/domain/src/entities.rs
  crates/domain/src/lib.rs
Due: rustfmt, clippy, check-env-vars

feat: implement comprehensive JWT and API key authentication middleware
  crates/api/src/middleware.rs
  crates/api/src/middleware/auth.rs
  crates/api/src/middleware/mod.rs
  crates/db/src/repositories.rs
Due: rustfmt, clippy, check-env-vars

feat: complete User Management API and add Claude workflow hooks
  .claude/README.md
  .claude/hooks/format-code.sh
  .claude/hooks/pre-commit.sh
  .claude/hooks/quick-check.sh
  .claude/settings.json
  Cargo.lock
  Cargo.toml
  Justfile
  crates/api/Cargo.toml
  crates/api/src/bin/local.rs
  crates/api/src/handlers.rs
  crates/api/src/handlers/mod.rs
  crates/api/src/handlers/users.rs
  crates/api/src/lib.rs
  crates/api/src/routes.rs
  crates/db/src/repositories.rs
  crates/domain/src/entities.rs
Due: rustfmt, clippy, check-env-vars

feat: implement complete Team Management API (Task 2.2)
  Cargo.lock
  Cargo.toml
  crates/api/Cargo.toml
  crates/api/src/handlers/mod.rs
  crates/api/src/handlers/teams.rs
  crates/api/src/lib.rs
  crates/api/src/routes.rs
  crates/api/src/validation.rs
  crates/db/src/repositories.rs
Due: rustfmt, clippy, check-env-vars

feat: implement comprehensive team membership API
  crates/api/src/handlers/memberships.rs
  crates/api/src/handlers/mod.rs
  crates/api/src/routes.rs
  crates/db/src/repositories.rs
Due: rustfmt, clippy, check-env-vars

feat: enhance Job entity with comprehensive credit refund system
  crates/domain/src/entities.rs
Due: rustfmt, clippy, check-env-vars

feat: implement comprehensive integration testing infrastructure
  .env.test
  Cargo.lock
  Cargo.toml
  crates/domain/src/entities.rs
  tests/integration/Cargo.toml
  tests/integration/auth/mod.rs
  tests/integration/common/email_mock.rs
  tests/integration/common/mod.rs
  tests/integration/errors/mod.rs
  tests/integration/invariants/mod.rs
  tests/integration/invitation_workflow_demo.rs
  tests/integration/invitation_workflow_test.rs
  tests/integration/memberships/mod.rs
  tests/integration/simple_test.rs
  tests/integration/teams/mod.rs
  tests/integration/users/mod.rs
Due: rustfmt, clippy, check-env-vars

feat: implement AWS SES email service with LocalStack E2E testing
  .env.test
  Cargo.lock
  Cargo.toml
  Justfile
  crates/email/Cargo.toml
  crates/email/src/aws_ses.rs
  crates/email/src/lib.rs
  crates/email/src/mock.rs
  crates/email/src/templates.rs
  docker-compose.localstack.yml
  scripts/localstack-init/01-setup-ses.sh
  tests/integration/Cargo.toml
  tests/integration/common/email_mock.rs
  tests/integration/common/mod.rs
  tests/integration/email_ses_e2e_test.rs
Due: rustfmt, clippy, check-env-vars

fix: address all deprecation warnings and linting issues
  crates/email/src/aws_ses.rs
  crates/email/src/lib.rs
  crates/email/src/mock.rs
  crates/email/src/templates.rs
  docker-compose.localstack.yml
  tests/integration/common/email_mock.rs
  tests/integration/common/mod.rs
  tests/integration/email_ses_e2e_test.rs
  tests/integration/invitation_workflow_demo.rs
Due: rustfmt, clippy, check-env-vars

fix: complete LocalStack SES configuration and integration
  Justfile
  crates/email/src/aws_ses.rs
  crates/email/src/templates.rs
  scripts/localstack-init/01-setup-ses.sh
  tests/integration/common/mod.rs
Due: rustfmt, clippy, check-env-vars

fix: address all compilation and test warnings
  tests/integration/common/localstack_client.rs
  tests/integration/common/mod.rs
  tests/integration/email_ses_e2e_test.rs
Due: rustfmt, clippy, check-env-vars

feat: implement comprehensive LocalStack SES email retrieval enhancement
  tests/integration/common/localstack_client.rs
  tests/integration/email_ses_e2e_test.rs
Due: rustfmt, clippy, check-env-vars

fix: remove invalid Claude Code settings keys
  .claude/settings.json
Due: none

feat: add E2E LocalStack email testing infrastructure
  tests/e2e/conftest.py
  tests/e2e/pyproject.toml
  tests/e2e/tests/test_invitation_workflow_e2e.py
  tests/e2e/utils/__init__.py
  tests/e2e/utils/localstack_email.py
Due: check-env-vars

chore: add Just targets and env config for email testing
  .env.example
  Justfile
  scripts/localstack-init/01-setup-ses.sh
Due: none

chore: update uv.lock for E2E tests version change
  tests/e2e/uv.lock
Due: none

style: fix end-of-file and import ordering
  crates/email/Cargo.toml
  tests/e2e/conftest.py
  tests/e2e/tests/test_invitation_workflow_e2e.py
  tests/e2e/utils/__init__.py
  tests/e2e/utils/localstack_email.py
Due: check-env-vars

docs: streamline CLAUDE.md and update project status
  CLAUDE.md
  PLAN.md
Due: none

feat: implement comprehensive state machines for all entities
  crates/domain/src/state.rs
Due: rustfmt, clippy, check-env-vars

feat: integrate JobStateMachine with Job entity
  crates/domain/src/entities.rs
Due: rustfmt, clippy, check-env-vars

feat: integrate state machines with Project and Invitation entities
  crates/domain/src/entities.rs
Due: rustfmt, clippy, check-env-vars

feat: integrate state machine with WebhookDelivery entity
  crates/domain/src/entities.rs
Due: rustfmt, clippy, check-env-vars

fix: add InvitationRole type for invitation database operations
  .env.test
  .sqlx/query-0faa72ef34b04a25fa93b89a871a94e5a6d1c416cdf41cf45c2d348f9e9b1c1a.json
  .sqlx/query-10169e7866fb3012c0d2fac167eafffed7863b8735e75207792195bf97bf0293.json
  .sqlx/query-185d41453db063e55dffc779ace5106a421f720b6d3f937c0af02f51f45d2064.json
  .sqlx/query-1939d97f0f50906aabf8c425df54fdafd2434de04174ae6c344f4f782d7106ad.json
  .sqlx/query-276836eb67194322ed1cc15ef9b7423f19b7466171fd11a6dab9d3565839cefd.json
  .sqlx/query-27b53f9bbdb938e771c7a4e538e7bc9119e9db85413acba80033b53e7577596d.json
  .sqlx/query-2bb75b2c64e101e7b0df999b55e66b51f04b2d69330b728a2da68801eaea0f95.json
  .sqlx/query-303675ec6195817a648607c37fa873dbb8c26813a03c87e7c6b4ae7522b5afb8.json
  .sqlx/query-35e4a08d2e521a0fd71e5268e0c1dd7a036982f88ab37c74018ba1c6c4b528df.json
  .sqlx/query-3ec73d42a1f60f2c2cdf4048c625c6b511d0cdf39200ab85802ddadf3e534881.json
  .sqlx/query-443e9ed0f76e3d55277b0108b9b97b33293144f4dddd4ec21e9723df3b6a2d69.json
  .sqlx/query-467e27651aadca35dff955ed01f966a5333a7e6ea10023cbb35c3d5b4c73803b.json
  .sqlx/query-5b24e9648b92f423a24e031079ca73c585e25a73543e74923a378489ca2b0cb2.json
  .sqlx/query-5b5af83ffbe714647e0a86214623a8be7e4a312a5e32b77dd71e349510072a1c.json
  .sqlx/query-66942e266034e075480970839bb66b02afd41de2d7fab1e7e654007244088cad.json
  .sqlx/query-7857eb87b50fe8ba25c09c3accc564eeb494c3115ec2fe8e76f2d58c86b36748.json
  .sqlx/query-8ff61cf37a73247781facbdf48fbbe97b54d52d9228e7b1979739ff47d37866b.json
  .sqlx/query-952f2948244ddf9baca4ad31a35a83498ae6a574db26c6e9f0bc6c11e1850fd1.json
  .sqlx/query-9eb403fe366750099feee565661d698ab0c76527d92fe96f1a72e36a710d78f3.json
  .sqlx/query-a03415044417a5fed56d5ef2a40ab1e26e2d53cc4a0d1454719e875373c0ed29.json
  .sqlx/query-a16c7fe29f6142541d78d1fb11488cbbf0fa8374f1ad047681aa0a07400f427e.json
  .sqlx/query-a72aee0e4a688f5860b3dad63483c4d04619aec300f630dc53a63f76a90da615.json
  .sqlx/query-a91eedbd4f43a54b7bd138481bb1e7aac0d21b690ef9edaae56ebdbf995e8f29.json
  .sqlx/query-b0e3d1c70b87bb54819e3fac04b684a9b857aeedb4dcb7cb400c2af0dbb12922.json
  .sqlx/query-bed74a9546ad74e7afcd005640724ca8c84ce6e852f858b0d5dd0cc308ca30e8.json
  .sqlx/query-db5946f55b73be815399a32b56d5783efcf4dc846b8eb3a218dec01e271455fe.json
  .sqlx/query-e091b5aeea10c23c60976e25546879e770907e2385347bc84ff3827ba2708ee8.json
  .sqlx/query-e0b7db0ab06c18624467e3d1f0d851d36ec473652148eeb51af0c05c5cf93da6.json
  .sqlx/query-e3d233f0048cc59e6e52894db2d8f52150ac0ac9f571a916d47f903fe2843b46.json
  .sqlx/query-f526fe45d7385d9e79dfb7adb410795d82df0e6b0fa8548552c4c2a012c065d1.json
  Justfile
  crates/api/src/handlers/memberships.rs
  crates/db/src/repositories.rs
  crates/domain/src/entities.rs
  tests/integration/common/email_mock.rs
  tests/integration/common/localstack_client.rs
  tests/integration/common/mod.rs
  tests/integration/invitation_workflow_demo.rs
  tests/integration/memberships/mod.rs
Due: rustfmt, clippy, check-env-vars

refactor: clean up test codebase and fix lint errors
  .pre-commit-config.yaml
  Cargo.lock
  Cargo.toml
  scripts/check_hardcoded_secrets.sh
  tests/admin_scripts/test_database_seeding.py
  tests/conftest.py
  tests/e2e/conftest.py
  tests/e2e/tests/test_auth.py
  tests/e2e/tests/test_invitation_workflow_e2e.py
  tests/e2e/utils/localstack_email.py
  tests/integration/Cargo.toml
  tests/integration/common/mod.rs
  tests/integration/errors/mod.rs
  tests/integration/invitation_workflow_demo.rs
  tests/integration/invitation_workflow_test.rs
  tests/integration/teams/mod.rs
  tests/migrations/test_database_migrations.py
  tests/run_tests.py
Due: rustfmt, clippy, check-env-vars

fix: resolve lint errors in scripts
  scripts/generate_api_key.py
  scripts/health_check.py
  scripts/validate_api_spec.py
Due: check-env-vars

fix: add pragma: allowlist secret support to env validator
  crates/email/src/mock.rs
  scripts/validate_env_vars.py
Due: rustfmt, clippy, check-env-vars

fix: remove black from pre-commit to avoid conflict with ruff-format
  .pre-commit-config.yaml
Due: none

fix: resolve markdown lint errors and add markdownlint config
  .markdownlint.jsonc
  .pre-commit-config.yaml
  CLAUDE.md
  docs/spec/00_Index.md
  docs/spec/09_Validation.md
  docs/spec/10_Rate_Limits.md
  docs/spec/11_Storage.md
  docs/spec/12_System_Assets.md
  docs/spec/14_Appendices.md
  scripts/health_check.py
  scripts/seed.py
  scripts/validate_api_spec.py
  scripts/validate_env_vars.py
  scripts/validate_migration_naming.py
  tests/README.md
Due: validate-api-spec, check-env-vars

fix: resolve all pre-commit hook failures
  .pre-commit-config.yaml
  crates/api/src/handlers/memberships.rs
  infra/opentofu/main.tf
  migrations/20240130000002_job_sequence_functions.sql
  tests/admin_scripts/test_database_seeding.py
  tests/conftest.py
  tests/migrations/test_database_migrations.py
Due: rustfmt, clippy, migration-naming, check-env-vars

ci: add Gitea Actions CI/CD workflow
  .gitea/workflows/ci.yml
Due: none

feat: restructure for AWS SAM deployment with cargo-lambda
  .gitignore
  .secrets.baseline
  Cargo.lock
  Cargo.toml
  Justfile
  crates/api/Cargo.toml
  crates/api/src/bin/lambda.rs
  env.json.example
  events/api-gateway-request.json
  infra/opentofu/lambda.tf
  infra/opentofu/main.tf
  samconfig.toml
  template.yaml
Due: rustfmt, clippy, check-env-vars

fix(ci): use cargo install for just, avoid GitHub API dependencies
  .gitea/workflows/ci.yml
Due: none

fix(ci): enable SQLX_OFFLINE for clippy step
  .gitea/workflows/ci.yml
Due: none

Path conditions:
  rustfmt: any of: \.rs$, but not: (?x)^(
    \.git/.*|
    \.venv/.*|
    venv/.*|
    target/.*|
    node_modules/.*|
    \.pytest_cache/.*|
    __pycache__/.*|
    \.coverage.*|
    htmlcov/.*|
    \.mypy_cache/.*|
    \.ruff_cache/.*
)$

  clippy: any of: \.rs$, but not: (?x)^(
    \.git/.*|
    \.venv/.*|
    venv/.*|
    target/.*|
    node_modules/.*|
    \.pytest_cache/.*|
    __pycache__/.*|
    \.coverage.*|
    htmlcov/.*|
    \.mypy_cache/.*|
    \.ruff_cache/.*
)$

  migration-naming: any of: ^migrations/.*\.sql$, but not: (?x)^(
    \.git/.*|
    \.venv/.*|
    venv/.*|
    target/.*|
    node_modules/.*|
    \.pytest_cache/.*|
    __pycache__/.*|
    \.coverage.*|
    htmlcov/.*|
    \.mypy_cache/.*|
    \.ruff_cache/.*
)$

  validate-api-spec: any of: ^docs/spec/.*\.md$, but not: (?x)^(
    \.git/.*|
    \.venv/.*|
    venv/.*|
    target/.*|
    node_modules/.*|
    \.pytest_cache/.*|
    __pycache__/.*|
    \.coverage.*|
    htmlcov/.*|
    \.mypy_cache/.*|
    \.ruff_cache/.*
)$

  check-env-vars: any of: \.(rs|py)$, but not: (?x)^(
    \.git/.*|
    \.venv/.*|
    venv/.*|
    target/.*|
    node_modules/.*|
    \.pytest_cache/.*|
    __pycache__/.*|
    \.coverage.*|
    htmlcov/.*|
    \.mypy_cache/.*|
    \.ruff_cache/.*
)$

