Repository framecastdev/framecast: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, clippy, migration-naming, validate-api-spec, check-env-vars

Path conditions:
  rustfmt: any of: \.rs$, but not: (?x)^(
    \.git/.*|
    \.venv/.*|
    venv/.*|
    target/.*|
    node_modules/.*|
    \.pytest_cache/.*|
    __pycache__/.*|
    \.coverage.*|
    htmlcov/.*|
    \.mypy_cache/.*|
    \.ruff_cache/.*
)$

  clippy: any of: \.rs$, but not: (?x)^(
    \.git/.*|
    \.venv/.*|
    venv/.*|
    target/.*|
    node_modules/.*|
    \.pytest_cache/.*|
    __pycache__/.*|
    \.coverage.*|
    htmlcov/.*|
    \.mypy_cache/.*|
    \.ruff_cache/.*
)$

  migration-naming: any of: ^migrations/.*\.sql$, but not: (?x)^(
    \.git/.*|
    \.venv/.*|
    venv/.*|
    target/.*|
    node_modules/.*|
    \.pytest_cache/.*|
    __pycache__/.*|
    \.coverage.*|
    htmlcov/.*|
    \.mypy_cache/.*|
    \.ruff_cache/.*
)$

  validate-api-spec: any of: ^docs/spec/.*\.md$, but not: (?x)^(
    \.git/.*|
    \.venv/.*|
    venv/.*|
    target/.*|
    node_modules/.*|
    \.pytest_cache/.*|
    __pycache__/.*|
    \.coverage.*|
    htmlcov/.*|
    \.mypy_cache/.*|
    \.ruff_cache/.*
)$

  check-env-vars: any of: \.(rs|py)$, but not: (?x)^(
    \.git/.*|
    \.venv/.*|
    venv/.*|
    target/.*|
    node_modules/.*|
    \.pytest_cache/.*|
    __pycache__/.*|
    \.coverage.*|
    htmlcov/.*|
    \.mypy_cache/.*|
    \.ruff_cache/.*
)$


fix: fix is_valid_urn regex to accept UUID hyphens and fix test assertions
  migrations/20240130000003_fix_urn_validation.sql
  tests/integration/users/mod.rs
Due: rustfmt, clippy, migration-naming, check-env-vars

fix: exclude user URNs from INV-K2 team-only check in trigger
  migrations/20240130000003_fix_urn_validation.sql
Due: migration-naming

fix: teams domain audit round 5 — race conditions and permission gaps (#27)
  .sqlx/query-185d41453db063e55dffc779ace5106a421f720b6d3f937c0af02f51f45d2064.json
  .sqlx/query-21c495bb90ddf56c568c1b99ffac45bd7f0d6b17c50e9eb3873de358479b30e6.json
  .sqlx/query-260aed8ac2cb6c5b73efe34fc1c191f88dc67d2fde5468769f204b80f3353b81.json
  .sqlx/query-35e4a08d2e521a0fd71e5268e0c1dd7a036982f88ab37c74018ba1c6c4b528df.json
  .sqlx/query-50293c2e54af11d4c2a553e29b671cef087a159c6ee7182d8ca929ecb748f3b7.json
  .sqlx/query-7857eb87b50fe8ba25c09c3accc564eeb494c3115ec2fe8e76f2d58c86b36748.json
  .sqlx/query-8ff61cf37a73247781facbdf48fbbe97b54d52d9228e7b1979739ff47d37866b.json
  .sqlx/query-90983bcb7d9a9af0eb69d62e4f2a1ea910361ec20f9bba6f320a07cd7e3c1301.json
  .sqlx/query-952f2948244ddf9baca4ad31a35a83498ae6a574db26c6e9f0bc6c11e1850fd1.json
  .sqlx/query-a16c7fe29f6142541d78d1fb11488cbbf0fa8374f1ad047681aa0a07400f427e.json
  .sqlx/query-a72aee0e4a688f5860b3dad63483c4d04619aec300f630dc53a63f76a90da615.json
  .sqlx/query-a91eedbd4f43a54b7bd138481bb1e7aac0d21b690ef9edaae56ebdbf995e8f29.json
  .sqlx/query-b0e3d1c70b87bb54819e3fac04b684a9b857aeedb4dcb7cb400c2af0dbb12922.json
  .sqlx/query-e091b5aeea10c23c60976e25546879e770907e2385347bc84ff3827ba2708ee8.json
  .sqlx/query-eb0783068e1165032ed3e236dc608609b47531932f474ad9fedbdb1a1ffddaa8.json
  domains/teams/src/api/handlers/api_keys.rs
  domains/teams/src/api/handlers/memberships.rs
  domains/teams/src/api/handlers/teams.rs
  domains/teams/src/api/handlers/users.rs
  domains/teams/src/api/middleware.rs
  domains/teams/src/api/mod.rs
  domains/teams/src/lib.rs
  domains/teams/src/repository/invitations.rs
  domains/teams/src/repository/memberships.rs
  domains/teams/src/repository/mod.rs
  domains/teams/src/repository/teams.rs
  domains/teams/src/repository/transactions.rs
  domains/teams/src/repository/users.rs
  migrations/20240130000003_fix_urn_validation.sql
  tests/integration/api_keys/mod.rs
  tests/integration/api_test.rs
  tests/integration/auth/mod.rs
  tests/integration/common/mod.rs
  tests/integration/invariants/mod.rs
  tests/integration/memberships/mod.rs
  tests/integration/teams/mod.rs
  tests/integration/users/mod.rs
Due: rustfmt, clippy, migration-naming, check-env-vars

test: add 201 E2E user stories for teams domain
  tests/e2e/pyproject.toml
  tests/e2e/strategies.py
  tests/e2e/tests/test_api_keys_e2e.py
  tests/e2e/tests/test_data_integrity_e2e.py
  tests/e2e/tests/test_error_handling_e2e.py
  tests/e2e/tests/test_invitation_email_e2e.py
  tests/e2e/tests/test_invitation_lifecycle_e2e.py
  tests/e2e/tests/test_membership_management_e2e.py
  tests/e2e/tests/test_multi_user_scenarios_e2e.py
  tests/e2e/tests/test_role_based_access_e2e.py
  tests/e2e/tests/test_team_crud_e2e.py
  tests/e2e/tests/test_team_limits_e2e.py
  tests/e2e/tests/test_user_account_e2e.py
  tests/e2e/uv.lock
Due: check-env-vars

fix: resolve 35 E2E test failures from CI
  tests/e2e/strategies.py
  tests/e2e/tests/test_api_keys_e2e.py
  tests/e2e/tests/test_error_handling_e2e.py
  tests/e2e/tests/test_invitation_lifecycle_e2e.py
  tests/e2e/tests/test_membership_management_e2e.py
  tests/e2e/tests/test_multi_user_scenarios_e2e.py
  tests/e2e/tests/test_team_crud_e2e.py
  tests/e2e/tests/test_team_limits_e2e.py
  tests/e2e/tests/test_user_account_e2e.py
Due: check-env-vars

refactor: replace Hypothesis property-based tests with parametrize
  tests/e2e/pyproject.toml
  tests/e2e/strategies.py
  tests/e2e/tests/test_api_keys_e2e.py
  tests/e2e/tests/test_invitation_lifecycle_e2e.py
  tests/e2e/tests/test_team_crud_e2e.py
  tests/e2e/tests/test_user_account_e2e.py
  tests/e2e/uv.lock
Due: check-env-vars

refactor: remove meaningless real_services marker from E2E tests
  .claude/skills/python-e2e/SKILL.md
  .github/workflows/ci.yml
  .secrets.baseline
  CLAUDE.md
  Justfile
  scripts/README.md
  tests/e2e/pyproject.toml
  tests/e2e/tests/test_api_keys_e2e.py
  tests/e2e/tests/test_data_integrity_e2e.py
  tests/e2e/tests/test_error_handling_e2e.py
  tests/e2e/tests/test_invitation_email_e2e.py
  tests/e2e/tests/test_invitation_lifecycle_e2e.py
  tests/e2e/tests/test_invitation_workflow_e2e.py
  tests/e2e/tests/test_membership_management_e2e.py
  tests/e2e/tests/test_multi_user_scenarios_e2e.py
  tests/e2e/tests/test_role_based_access_e2e.py
  tests/e2e/tests/test_team_crud_e2e.py
  tests/e2e/tests/test_team_limits_e2e.py
  tests/e2e/tests/test_team_management_e2e.py
  tests/e2e/tests/test_user_account_e2e.py
Due: check-env-vars

refactor: delete hollow scaffolding violating YAGNI (Rule 12)
  .claude/skills/python-e2e/SKILL.md
  .claude/skills/runpod-infra/SKILL.md
  .secrets.baseline
  CLAUDE.md
  Cargo.toml
  Justfile
  crates/comfyui/Cargo.toml
  crates/comfyui/src/client.rs
  crates/comfyui/src/lib.rs
  crates/comfyui/src/models.rs
  crates/inngest/Cargo.toml
  crates/inngest/src/client.rs
  crates/inngest/src/events.rs
  crates/inngest/src/lib.rs
  docker-compose.localstack.yml
  scripts/README.md
  scripts/cleanup_jobs.py
  scripts/export_user_data.py
  scripts/generate_api_key.py
  scripts/health_check.py
  scripts/seed.py
  tests/e2e/conftest.py
  tests/e2e/pyproject.toml
  tests/e2e/uv.lock
Due: rustfmt, clippy, check-env-vars

refactor: restore runpod-infra skill (useful reference for future work)
  .claude/skills/runpod-infra/SKILL.md
  CLAUDE.md
Due: none

test: add 201 E2E user stories for teams domain (#28)
  .claude/skills/python-e2e/SKILL.md
  .github/workflows/ci.yml
  .secrets.baseline
  CLAUDE.md
  Cargo.toml
  Justfile
  crates/comfyui/Cargo.toml
  crates/comfyui/src/client.rs
  crates/comfyui/src/lib.rs
  crates/comfyui/src/models.rs
  crates/inngest/Cargo.toml
  crates/inngest/src/client.rs
  crates/inngest/src/events.rs
  crates/inngest/src/lib.rs
  docker-compose.localstack.yml
  scripts/README.md
  scripts/cleanup_jobs.py
  scripts/export_user_data.py
  scripts/generate_api_key.py
  scripts/health_check.py
  scripts/seed.py
  tests/e2e/conftest.py
  tests/e2e/pyproject.toml
  tests/e2e/tests/test_api_keys_e2e.py
  tests/e2e/tests/test_data_integrity_e2e.py
  tests/e2e/tests/test_error_handling_e2e.py
  tests/e2e/tests/test_invitation_email_e2e.py
  tests/e2e/tests/test_invitation_lifecycle_e2e.py
  tests/e2e/tests/test_invitation_workflow_e2e.py
  tests/e2e/tests/test_membership_management_e2e.py
  tests/e2e/tests/test_multi_user_scenarios_e2e.py
  tests/e2e/tests/test_role_based_access_e2e.py
  tests/e2e/tests/test_team_crud_e2e.py
  tests/e2e/tests/test_team_limits_e2e.py
  tests/e2e/tests/test_team_management_e2e.py
  tests/e2e/tests/test_user_account_e2e.py
  tests/e2e/uv.lock
Due: rustfmt, clippy, check-env-vars

fix: teams domain audit round 6 — dead code and test hygiene
  Cargo.lock
  domains/teams/Cargo.toml
  tests/integration/Cargo.toml
  tests/integration/api_keys/mod.rs
  tests/integration/api_test.rs
  tests/integration/common/email_mock.rs
  tests/integration/common/mod.rs
  tests/integration/memberships/mod.rs
  tests/integration/sam_local_test.rs
  tests/integration/simple_test.rs
  tests/integration/teams/mod.rs
  tests/integration/users/mod.rs
Due: rustfmt, clippy, check-env-vars

ci: auto-run sqlx-prepare on merge to main, open PR if cache changed
  .github/workflows/sqlx-prepare.yml
Due: none

fix: teams domain audit round 6 — dead code and test hygiene (#29)
  Cargo.lock
  domains/teams/Cargo.toml
  tests/integration/Cargo.toml
  tests/integration/api_keys/mod.rs
  tests/integration/api_test.rs
  tests/integration/common/email_mock.rs
  tests/integration/common/mod.rs
  tests/integration/memberships/mod.rs
  tests/integration/sam_local_test.rs
  tests/integration/simple_test.rs
  tests/integration/teams/mod.rs
  tests/integration/users/mod.rs
Due: rustfmt, clippy, check-env-vars

ci: auto-run sqlx-prepare on merge to main, open PR if cache changed (#30)
  .github/workflows/sqlx-prepare.yml
Due: none

fix: teams domain audit round 7 — dead code, inconsistencies, security
  .sqlx/query-0387e265e95d05d17873a44be26f74a9e1816e6d738b4dbfbd19edafe354ca2e.json
  .sqlx/query-27b53f9bbdb938e771c7a4e538e7bc9119e9db85413acba80033b53e7577596d.json
  .sqlx/query-5222703f773b8e1378967aee169537db60418761bde98b737e5bd520ec7e778c.json
  .sqlx/query-76a4b4c70381cf6b3f3ff64adcd1893bc3355af28afef336f4e51d614251ebd3.json
  .sqlx/query-d1afb7f85ec38dbe95c7270971c206f834a5f81b19f6df9cc96316343192585a.json
  .sqlx/query-db5946f55b73be815399a32b56d5783efcf4dc846b8eb3a218dec01e271455fe.json
  Cargo.lock
  crates/app/Cargo.toml
  crates/app/src/bin/lambda.rs
  crates/app/src/bin/local.rs
  crates/app/src/lib.rs
  crates/common/Cargo.toml
  crates/common/src/config.rs
  crates/common/src/db.rs
  crates/common/src/error.rs
  crates/common/src/lib.rs
  crates/email/Cargo.toml
  crates/email/src/aws_ses.rs
  crates/email/src/lib.rs
  crates/email/src/mock.rs
  crates/email/src/templates.rs
  domains/teams/src/api/handlers/api_keys.rs
  domains/teams/src/api/handlers/memberships.rs
  domains/teams/src/api/handlers/teams.rs
  domains/teams/src/api/handlers/users.rs
  domains/teams/src/domain/auth.rs
  domains/teams/src/domain/entities.rs
  domains/teams/src/repository/invitations.rs
  domains/teams/src/repository/transactions.rs
  domains/teams/src/repository/users.rs
  tests/integration/common/email_mock.rs
  tests/integration/common/mod.rs
  tests/integration/invariants/mod.rs
Due: rustfmt, clippy, check-env-vars

fix: teams domain audit round 8 — dead code, DRY, consistency, test quality
  Cargo.lock
  Cargo.toml
  crates/email/src/aws_ses.rs
  crates/email/src/content.rs
  crates/email/src/lib.rs
  crates/email/src/mock.rs
  domains/teams/Cargo.toml
  domains/teams/src/api/handlers/memberships.rs
  domains/teams/src/domain/auth.rs
  domains/teams/src/repository/api_keys.rs
  domains/teams/src/repository/teams.rs
  tests/integration/api_test.rs
  tests/integration/common/email_mock.rs
  tests/integration/common/mod.rs
Due: rustfmt, clippy, check-env-vars

fix: audit round 9 — production code, DRY, dead code, unused deps, metadata
  Cargo.lock
  Cargo.toml
  crates/app/src/bin/local.rs
  crates/app/src/lib.rs
  crates/email/Cargo.toml
  crates/email/src/aws_ses.rs
  crates/email/src/lib.rs
  crates/email/src/mock.rs
  domains/jobs/Cargo.toml
  domains/projects/Cargo.toml
  domains/teams/src/api/handlers/memberships.rs
  domains/webhooks/Cargo.toml
  tests/integration/Cargo.toml
  tests/integration/common/mod.rs
Due: rustfmt, clippy, check-env-vars

ci: remove unnecessary binary artifact upload/download in E2E pipeline
  .github/workflows/ci.yml
Due: none

fix: audit round 10 — unwrap removal, pre-commit gap, unused derives
  .pre-commit-config.yaml
  domains/jobs/src/domain/entities.rs
  domains/projects/src/domain/entities.rs
  tests/integration/auth/mod.rs
  tests/integration/common/mod.rs
Due: rustfmt, clippy, check-env-vars

chore: update MSRV from 1.75 to 1.92 to match installed toolchain
  Cargo.toml
Due: none

fix: audit round 11 — add Copy to event enums, remove .expect() in signal handler
  crates/app/src/bin/local.rs
  domains/jobs/src/domain/state.rs
  domains/projects/src/domain/state.rs
  domains/teams/src/domain/state.rs
  domains/webhooks/src/domain/state.rs
Due: rustfmt, clippy, check-env-vars

feat: add GET /v1/auth/whoami endpoint with dual JWT/API key auth
  docs/spec/07_Operations.md
  domains/teams/src/api/handlers/auth.rs
  domains/teams/src/api/handlers/mod.rs
  domains/teams/src/api/middleware.rs
  domains/teams/src/api/mod.rs
  domains/teams/src/api/routes.rs
  domains/teams/src/lib.rs
  tests/integration/auth/mod.rs
Due: rustfmt, clippy, validate-api-spec, check-env-vars

fix: redact key_hash from ApiKey Debug output
  domains/teams/src/domain/entities.rs
Due: rustfmt, clippy, check-env-vars

fix: add ValidatedJson extractor to eliminate manual validation boilerplate
  Cargo.lock
  crates/common/Cargo.toml
  crates/common/src/extractors.rs
  crates/common/src/lib.rs
  domains/teams/src/api/handlers/api_keys.rs
  domains/teams/src/api/handlers/memberships.rs
  domains/teams/src/api/handlers/teams.rs
  domains/teams/src/api/handlers/users.rs
Due: rustfmt, clippy, check-env-vars

fix: preserve 422 status for JSON deserialization errors in ValidatedJson
  crates/common/src/extractors.rs
Due: rustfmt, clippy, check-env-vars

fix: introduce AuthenticatedApiKey to eliminate key_hash from handler layer
  domains/teams/src/api/handlers/api_keys.rs
  domains/teams/src/api/handlers/auth.rs
  domains/teams/src/domain/auth.rs
  domains/teams/src/domain/entities.rs
  domains/teams/src/repository/api_keys.rs
Due: rustfmt, clippy, check-env-vars

fix: replace hard-coded salt with random generation in test
  domains/teams/src/domain/entities.rs
Due: rustfmt, clippy, check-env-vars

fix: correct JSON syntax error test to expect 400, not 422
  crates/common/src/extractors.rs
Due: rustfmt, clippy, check-env-vars

fix: standardize ValidatedJson error responses to 400
  crates/common/src/extractors.rs
Due: rustfmt, clippy, check-env-vars

fix: update integration tests to expect 400 for deserialization errors
  tests/integration/memberships/mod.rs
  tests/integration/users/mod.rs
Due: rustfmt, clippy, check-env-vars

fix: whoami endpoint, ValidatedJson extractor, and CodeQL key_hash remediation (#38)
  Cargo.lock
  crates/common/Cargo.toml
  crates/common/src/extractors.rs
  crates/common/src/lib.rs
  domains/teams/src/api/handlers/api_keys.rs
  domains/teams/src/api/handlers/auth.rs
  domains/teams/src/api/handlers/memberships.rs
  domains/teams/src/api/handlers/teams.rs
  domains/teams/src/api/handlers/users.rs
  domains/teams/src/domain/auth.rs
  domains/teams/src/domain/entities.rs
  domains/teams/src/repository/api_keys.rs
  tests/integration/memberships/mod.rs
  tests/integration/users/mod.rs
Due: rustfmt, clippy, check-env-vars

refactor: extract auth middleware into dedicated crates/auth crate
  .cargo/mutants.toml
  Cargo.lock
  Cargo.toml
  crates/app/Cargo.toml
  crates/app/src/lib.rs
  crates/auth/Cargo.toml
  crates/auth/src/backend.rs
  crates/auth/src/claims.rs
  crates/auth/src/config.rs
  crates/auth/src/context.rs
  crates/auth/src/error.rs
  crates/auth/src/extractors.rs
  crates/auth/src/jwt.rs
  crates/auth/src/lib.rs
  crates/auth/src/types.rs
  domains/teams/src/api/handlers/api_keys.rs
  domains/teams/src/api/handlers/auth.rs
  domains/teams/src/api/handlers/memberships.rs
  domains/teams/src/api/handlers/teams.rs
  domains/teams/src/api/handlers/users.rs
  domains/teams/src/api/middleware.rs
  domains/teams/src/api/mod.rs
  domains/teams/src/domain/mod.rs
  domains/teams/src/lib.rs
  tests/integration/Cargo.toml
  tests/integration/auth/mod.rs
  tests/integration/common/mod.rs
Due: rustfmt, clippy, check-env-vars

fix: use plain column names in runtime sqlx::query_as queries
  crates/auth/src/backend.rs
Due: rustfmt, clippy, check-env-vars

refactor: extract auth middleware into crates/auth (#39)
  .cargo/mutants.toml
  Cargo.lock
  Cargo.toml
  crates/app/Cargo.toml
  crates/app/src/lib.rs
  crates/auth/Cargo.toml
  crates/auth/src/backend.rs
  crates/auth/src/claims.rs
  crates/auth/src/config.rs
  crates/auth/src/context.rs
  crates/auth/src/error.rs
  crates/auth/src/extractors.rs
  crates/auth/src/jwt.rs
  crates/auth/src/lib.rs
  crates/auth/src/types.rs
  domains/teams/src/api/handlers/api_keys.rs
  domains/teams/src/api/handlers/auth.rs
  domains/teams/src/api/handlers/memberships.rs
  domains/teams/src/api/handlers/teams.rs
  domains/teams/src/api/handlers/users.rs
  domains/teams/src/api/middleware.rs
  domains/teams/src/api/mod.rs
  domains/teams/src/domain/mod.rs
  domains/teams/src/lib.rs
  tests/integration/Cargo.toml
  tests/integration/auth/mod.rs
  tests/integration/common/mod.rs
Due: rustfmt, clippy, check-env-vars

docs: add Conversation, Message, and Artifact entity specifications
  docs/spec/00_Index.md
  docs/spec/04_Entities.md
  docs/spec/05_Relationships_States.md
  docs/spec/06_Invariants.md
  docs/spec/07_Operations.md
  docs/spec/08_Permissions.md
  docs/spec/13_ER_Diagram.md
Due: validate-api-spec

feat: add crates/llm with Anthropic + mock LLM service
  Cargo.lock
  Cargo.toml
  crates/llm/Cargo.toml
  crates/llm/src/anthropic.rs
  crates/llm/src/lib.rs
  crates/llm/src/mock.rs
Due: rustfmt, clippy, check-env-vars

feat: add conversations and artifacts database schema
  migrations/20250208000001_conversations_artifacts.sql
Due: migration-naming

docs: add Conversation, Message, and Artifact entity specifications (#40)
  docs/spec/00_Index.md
  docs/spec/04_Entities.md
  docs/spec/05_Relationships_States.md
  docs/spec/06_Invariants.md
  docs/spec/07_Operations.md
  docs/spec/08_Permissions.md
  docs/spec/13_ER_Diagram.md
Due: validate-api-spec

feat: add artifacts domain with entities, state machine, API, and repository
  Cargo.lock
  Cargo.toml
  domains/artifacts/Cargo.toml
  domains/artifacts/src/api/handlers/artifacts.rs
  domains/artifacts/src/api/handlers/mod.rs
  domains/artifacts/src/api/handlers/system_assets.rs
  domains/artifacts/src/api/middleware.rs
  domains/artifacts/src/api/mod.rs
  domains/artifacts/src/api/routes.rs
  domains/artifacts/src/domain/entities.rs
  domains/artifacts/src/domain/mod.rs
  domains/artifacts/src/domain/state.rs
  domains/artifacts/src/lib.rs
  domains/artifacts/src/repository/artifacts.rs
  domains/artifacts/src/repository/mod.rs
  domains/artifacts/src/repository/system_assets.rs
  domains/artifacts/src/repository/transactions.rs
  domains/projects/src/lib.rs
Due: rustfmt, clippy, check-env-vars

feat: add artifact URN type (framecast:artifact:{uuid})
  crates/auth/src/context.rs
  crates/common/src/urn.rs
  domains/teams/src/api/handlers/api_keys.rs
Due: rustfmt, clippy, check-env-vars
