Repository framecastdev/framecast: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, clippy, migration-naming, validate-api-spec, check-env-vars

rustfmt:
  name: Rust formatting (rustfmt)
  entry: bash -c 'source "$HOME/.cargo/env" 2>/dev/null || true && cargo fmt'
  language: system
  pass_filenames: false

clippy:
  name: Rust linting (clippy)
  entry: bash -c 'source "$HOME/.cargo/env" 2>/dev/null || true && cargo clippy --workspace --all-targets -- -D warnings'
  language: system
  pass_filenames: false

migration-naming:
  name: Validate migration file naming
  entry: python scripts/validate_migration_naming.py
  language: python

validate-api-spec:
  name: Validate API specification consistency
  entry: python scripts/validate_api_spec.py
  language: python

check-env-vars:
  name: Validate environment variable usage
  entry: python scripts/validate_env_vars.py
  language: python

feat: add list teams, list members, leave team endpoints and align routes with spec
  crates/api/src/handlers/memberships.rs
  crates/api/src/handlers/teams.rs
  crates/api/src/routes.rs
  tests/integration/Cargo.toml
  tests/integration/api_test.rs
  tests/integration/memberships/mod.rs
  tests/integration/teams/mod.rs
Due: rustfmt, clippy, check-env-vars

test: add team management E2E tests and fix routes for spec alignment
  Justfile
  tests/e2e/tests/test_invitation_workflow_e2e.py
  tests/e2e/tests/test_team_management_e2e.py
Due: check-env-vars

feat: fix domain gaps for teams, memberships, and invitations
  .sqlx/query-276836eb67194322ed1cc15ef9b7423f19b7466171fd11a6dab9d3565839cefd.json
  .sqlx/query-31a65bc34d6f38217e2b8926dbf4ab4e5dcb3f9fe07a0431ad251cd004c8e45d.json
  .sqlx/query-5222703f773b8e1378967aee169537db60418761bde98b737e5bd520ec7e778c.json
  .sqlx/query-83b3b166d0fafa98a01db2cc64e882e3beede52a602b92bb084b48746df35260.json
  .sqlx/query-b172691a2168226efd55d55a7310857df5b29507a808d2a015c9adca0bec6121.json
  .sqlx/query-d1afb7f85ec38dbe95c7270971c206f834a5f81b19f6df9cc96316343192585a.json
  .sqlx/query-d3bccefb8cd1efc28e9d8f0a995f7cd8a157dd0f0ce0e61e7338d23dfe8c0148.json
  .sqlx/query-e9cd177927d754b5ea8c19443cf6cd6dccfe773f4983ff317a4f230d4f4cff37.json
  .sqlx/query-eb0783068e1165032ed3e236dc608609b47531932f474ad9fedbdb1a1ffddaa8.json
  crates/api/src/handlers/memberships.rs
  crates/api/src/routes.rs
  crates/db/src/repositories.rs
  crates/domain/src/entities.rs
  crates/domain/src/state.rs
  migrations/20240130000003_add_declined_at_to_invitations.sql
  tests/e2e/tests/test_team_management_e2e.py
  tests/integration/memberships/mod.rs
Due: rustfmt, clippy, migration-naming, check-env-vars

fix: update invitation state tests for Declined variant
  crates/domain/src/entities.rs
Due: rustfmt, clippy, check-env-vars

refactor: remove redundant SES integration tests from CI
  .github/workflows/ci.yml
  .secrets.baseline
  Justfile
  tests/integration/Cargo.toml
  tests/integration/common/localstack_client.rs
  tests/integration/common/mod.rs
  tests/integration/email_ses_e2e_test.rs
Due: rustfmt, clippy, check-env-vars

feat: enforce remaining spec gaps for teams, memberships, and invitations
  .sqlx/query-15a4e7b8cce458a690b62d4a18acc827f48c90c850cf839e618f395a198a542f.json
  .sqlx/query-191091f6d901c6b1615a402bb02389d0aa7704f24617fe5cddabd7a02ef3a00b.json
  .sqlx/query-260aed8ac2cb6c5b73efe34fc1c191f88dc67d2fde5468769f204b80f3353b81.json
  .sqlx/query-6c85c829496fa2f8eb7541a5ae4d1ddf5570cdfe01c2d4944d9a16355d93dfc8.json
  .sqlx/query-90983bcb7d9a9af0eb69d62e4f2a1ea910361ec20f9bba6f320a07cd7e3c1301.json
  .sqlx/query-a7cb2465b87fbbc9c8244535e8dd73cfaee262b2e76596581c560631cbdc5e53.json
  .sqlx/query-af21bfb9b12c7145d29b196d913765e5ee32f4cd1f37bb0460df2d9b59de794f.json
  .sqlx/query-ec346b47815f2e750b66d751afc5830fa8c867fd5541899cad67168c99068c0c.json
  Cargo.lock
  Cargo.toml
  crates/api/src/handlers/memberships.rs
  crates/api/src/handlers/teams.rs
  crates/api/src/routes.rs
  crates/db/src/repositories.rs
  crates/domain/Cargo.toml
  crates/domain/src/entities.rs
  docs/spec/05_Relationships_States.md
  docs/spec/07_Operations.md
  migrations/20240130000004_allow_team_cascade_delete.sql
  tests/e2e/tests/test_invitation_workflow_e2e.py
  tests/integration/memberships/mod.rs
Due: rustfmt, clippy, migration-naming, validate-api-spec, check-env-vars

fix: update E2E test for last owner leaving auto-deletes team
  tests/e2e/tests/test_team_management_e2e.py
Due: check-env-vars

feat: enforce remaining spec gaps for teams, memberships, and invitations (#10)
  .sqlx/query-15a4e7b8cce458a690b62d4a18acc827f48c90c850cf839e618f395a198a542f.json
  .sqlx/query-191091f6d901c6b1615a402bb02389d0aa7704f24617fe5cddabd7a02ef3a00b.json
  .sqlx/query-260aed8ac2cb6c5b73efe34fc1c191f88dc67d2fde5468769f204b80f3353b81.json
  .sqlx/query-6c85c829496fa2f8eb7541a5ae4d1ddf5570cdfe01c2d4944d9a16355d93dfc8.json
  .sqlx/query-90983bcb7d9a9af0eb69d62e4f2a1ea910361ec20f9bba6f320a07cd7e3c1301.json
  .sqlx/query-a7cb2465b87fbbc9c8244535e8dd73cfaee262b2e76596581c560631cbdc5e53.json
  .sqlx/query-af21bfb9b12c7145d29b196d913765e5ee32f4cd1f37bb0460df2d9b59de794f.json
  .sqlx/query-ec346b47815f2e750b66d751afc5830fa8c867fd5541899cad67168c99068c0c.json
  Cargo.lock
  Cargo.toml
  crates/api/src/handlers/memberships.rs
  crates/api/src/handlers/teams.rs
  crates/api/src/routes.rs
  crates/db/src/repositories.rs
  crates/domain/Cargo.toml
  crates/domain/src/entities.rs
  docs/spec/05_Relationships_States.md
  docs/spec/07_Operations.md
  migrations/20240130000004_allow_team_cascade_delete.sql
  tests/e2e/tests/test_invitation_workflow_e2e.py
  tests/e2e/tests/test_team_management_e2e.py
  tests/integration/memberships/mod.rs
Due: rustfmt, clippy, migration-naming, validate-api-spec, check-env-vars

fix: optimize CI pipeline and fix integration test assertions
  .github/workflows/ci.yml
  .secrets.baseline
  Justfile
  tests/integration/memberships/mod.rs
Due: rustfmt, clippy, check-env-vars

fix: add explicit build step for API binary before artifact upload
  .github/workflows/ci.yml
Due: none

fix: optimize CI pipeline and fix integration test failures (#11)
  .github/workflows/ci.yml
  .secrets.baseline
  Justfile
  tests/integration/memberships/mod.rs
Due: rustfmt, clippy, check-env-vars

docs: streamline CLAUDE.md for clarity and conciseness
  CLAUDE.md
Due: none

test: reassess test suite — remove redundancy, fill coverage gaps
  crates/domain/src/auth.rs
  crates/domain/src/entities.rs
  crates/domain/src/state.rs
  tests/e2e/tests/test_invitation_workflow_e2e.py
  tests/e2e/tests/test_team_management_e2e.py
  tests/integration/invariants/mod.rs
  tests/integration/memberships/mod.rs
  tests/integration/teams/mod.rs
  tests/integration/users/mod.rs
Due: rustfmt, clippy, check-env-vars

fix: correct two integration test assertions from CI feedback
  tests/integration/memberships/mod.rs
  tests/integration/teams/mod.rs
Due: rustfmt, clippy, check-env-vars

fix: correct three E2E test failures from CI
  tests/e2e/tests/test_invitation_workflow_e2e.py
  tests/e2e/tests/test_team_management_e2e.py
Due: check-env-vars

test: reassess test suite — remove redundancy, fill coverage gaps (#13)
  crates/domain/src/auth.rs
  crates/domain/src/entities.rs
  crates/domain/src/state.rs
  tests/e2e/tests/test_invitation_workflow_e2e.py
  tests/e2e/tests/test_team_management_e2e.py
  tests/integration/invariants/mod.rs
  tests/integration/memberships/mod.rs
  tests/integration/teams/mod.rs
  tests/integration/users/mod.rs
Due: rustfmt, clippy, check-env-vars

feat: add cargo-mutants for mutation testing of domain and common crates
  .cargo/mutants.toml
  .github/workflows/ci.yml
  .gitignore
  .secrets.baseline
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  Justfile
  crates/common/Cargo.toml
  crates/common/src/urn.rs
  crates/domain/Cargo.toml
Due: rustfmt, clippy, check-env-vars

ci: switch from self-hosted to GitHub-hosted runners
  .github/workflows/ci.yml
Due: none

fix(ci): restore GHCR credentials for container auth
  .github/workflows/ci.yml
Due: none

fix: remove --jobs flag from ci-mutants (incompatible with --in-place)
  Justfile
Due: none

ci: add cargo-mutants to CI image, use timestamp-tagged images
  .github/workflows/ci.yml
  Justfile
  infra/ci/Dockerfile
Due: none

fix: pass --test-threads as test binary arg, not cargo test arg
  Justfile
Due: none

fix: move --test-threads to mutants config to avoid CLI/config arg conflict
  .cargo/mutants.toml
  Justfile
Due: none

ci: replace custom CI image with GitHub Actions setup steps
  .github/workflows/ci.yml
  Justfile
  infra/ci/Dockerfile
  infra/ci/build-and-push.sh
Due: none

test: add tests to kill 183 missed mutants across domain/common crates
  crates/common/src/urn.rs
  crates/domain/src/auth.rs
  crates/domain/src/entities.rs
  crates/domain/src/state.rs
Due: rustfmt, clippy, check-env-vars

fix(ci): pin Zig to 0.15.1 — setup-zig defaults to non-existent 0.15.2
  .github/workflows/ci.yml
Due: none

ci: update all GitHub Actions to latest versions
  .github/workflows/ci.yml
Due: none

ci: add job summaries and fix tool versions
  .github/workflows/ci.yml
  .gitignore
Due: none

ci: shard mutation tests across 8 parallel matrix jobs
  .github/workflows/ci.yml
  .secrets.baseline
  Justfile
Due: none

fix: suppress 8 structurally untestable mutants and clean up shard artifacts
  .cargo/mutants.toml
  .github/workflows/ci.yml
  crates/domain/src/auth.rs
  crates/domain/src/entities.rs
Due: rustfmt, clippy, check-env-vars

refactor: remove unused param, placeholder files, and add YAGNI rule
  CLAUDE.md
  crates/domain/src/auth.rs
  crates/domain/src/events.rs
  crates/domain/src/lib.rs
  crates/domain/src/validation.rs
Due: rustfmt, clippy, check-env-vars

feat: add cargo-mutants for mutation testing (#14)
  .cargo/mutants.toml
  .github/workflows/ci.yml
  .gitignore
  .secrets.baseline
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  Justfile
  crates/common/Cargo.toml
  crates/common/src/urn.rs
  crates/domain/Cargo.toml
  crates/domain/src/auth.rs
  crates/domain/src/entities.rs
  crates/domain/src/events.rs
  crates/domain/src/lib.rs
  crates/domain/src/state.rs
  crates/domain/src/validation.rs
  infra/ci/Dockerfile
  infra/ci/build-and-push.sh
Due: rustfmt, clippy, check-env-vars

refactor: clean up teams domain — fix bug, adopt helpers, remove dead code
  crates/api/src/handlers/memberships.rs
  crates/api/src/handlers/teams.rs
  crates/domain/src/auth.rs
  crates/domain/src/entities.rs
  crates/domain/src/state.rs
Due: rustfmt, clippy, check-env-vars

refactor: clean up teams domain — fix bug, adopt helpers, remove dead code (#15)
  crates/api/src/handlers/memberships.rs
  crates/api/src/handlers/teams.rs
  crates/domain/src/auth.rs
  crates/domain/src/entities.rs
  crates/domain/src/state.rs
Due: rustfmt, clippy, check-env-vars

fix: CI pipeline masking test failures + broken delete-team query
  .github/workflows/ci.yml
  domains/teams/src/repository/teams.rs
Due: rustfmt, clippy, check-env-vars

fix: narrow mutation testing scope to match domain-driven layout
  .cargo/mutants.toml
  .secrets.baseline
  Justfile
Due: none

fix: teams domain audit — align API validators, consolidate slug validation, fix HTTP status
  Cargo.lock
  domains/teams/Cargo.toml
  domains/teams/src/api/handlers/teams.rs
  domains/teams/src/api/handlers/users.rs
  domains/teams/src/domain/entities.rs
  domains/teams/src/domain/mod.rs
  domains/teams/src/domain/validation.rs
  domains/teams/src/lib.rs
  domains/teams/src/repository/memberships.rs
Due: rustfmt, clippy, check-env-vars

fix: update integration tests to expect 201 Created from create_team
  tests/integration/teams/mod.rs
Due: rustfmt, clippy, check-env-vars

Path conditions:
  rustfmt: any of: \.rs$, but not: (?x)^(
    \.git/.*|
    \.venv/.*|
    venv/.*|
    target/.*|
    node_modules/.*|
    \.pytest_cache/.*|
    __pycache__/.*|
    \.coverage.*|
    htmlcov/.*|
    \.mypy_cache/.*|
    \.ruff_cache/.*
)$

  clippy: any of: \.rs$, but not: (?x)^(
    \.git/.*|
    \.venv/.*|
    venv/.*|
    target/.*|
    node_modules/.*|
    \.pytest_cache/.*|
    __pycache__/.*|
    \.coverage.*|
    htmlcov/.*|
    \.mypy_cache/.*|
    \.ruff_cache/.*
)$

  migration-naming: any of: ^migrations/.*\.sql$, but not: (?x)^(
    \.git/.*|
    \.venv/.*|
    venv/.*|
    target/.*|
    node_modules/.*|
    \.pytest_cache/.*|
    __pycache__/.*|
    \.coverage.*|
    htmlcov/.*|
    \.mypy_cache/.*|
    \.ruff_cache/.*
)$

  validate-api-spec: any of: ^docs/spec/.*\.md$, but not: (?x)^(
    \.git/.*|
    \.venv/.*|
    venv/.*|
    target/.*|
    node_modules/.*|
    \.pytest_cache/.*|
    __pycache__/.*|
    \.coverage.*|
    htmlcov/.*|
    \.mypy_cache/.*|
    \.ruff_cache/.*
)$

  check-env-vars: any of: \.(rs|py)$, but not: (?x)^(
    \.git/.*|
    \.venv/.*|
    venv/.*|
    target/.*|
    node_modules/.*|
    \.pytest_cache/.*|
    __pycache__/.*|
    \.coverage.*|
    htmlcov/.*|
    \.mypy_cache/.*|
    \.ruff_cache/.*
)$

