Repository framecastdev/framecast: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, clippy, migration-naming, validate-api-spec, check-env-vars

Path conditions:
  rustfmt: any of: \.rs$, but not: (?x)^(
    \.git/.*|
    \.venv/.*|
    venv/.*|
    target/.*|
    node_modules/.*|
    \.pytest_cache/.*|
    __pycache__/.*|
    \.coverage.*|
    htmlcov/.*|
    \.mypy_cache/.*|
    \.ruff_cache/.*
)$

  clippy: any of: \.rs$, but not: (?x)^(
    \.git/.*|
    \.venv/.*|
    venv/.*|
    target/.*|
    node_modules/.*|
    \.pytest_cache/.*|
    __pycache__/.*|
    \.coverage.*|
    htmlcov/.*|
    \.mypy_cache/.*|
    \.ruff_cache/.*
)$

  migration-naming: any of: ^migrations/.*\.sql$, but not: (?x)^(
    \.git/.*|
    \.venv/.*|
    venv/.*|
    target/.*|
    node_modules/.*|
    \.pytest_cache/.*|
    __pycache__/.*|
    \.coverage.*|
    htmlcov/.*|
    \.mypy_cache/.*|
    \.ruff_cache/.*
)$

  validate-api-spec: any of: ^docs/spec/.*\.md$, but not: (?x)^(
    \.git/.*|
    \.venv/.*|
    venv/.*|
    target/.*|
    node_modules/.*|
    \.pytest_cache/.*|
    __pycache__/.*|
    \.coverage.*|
    htmlcov/.*|
    \.mypy_cache/.*|
    \.ruff_cache/.*
)$

  check-env-vars: any of: \.(rs|py)$, but not: (?x)^(
    \.git/.*|
    \.venv/.*|
    venv/.*|
    target/.*|
    node_modules/.*|
    \.pytest_cache/.*|
    __pycache__/.*|
    \.coverage.*|
    htmlcov/.*|
    \.mypy_cache/.*|
    \.ruff_cache/.*
)$


fix: collapse consecutive hyphens in generate_slug
  domains/teams/src/domain/entities.rs
Due: rustfmt, clippy, check-env-vars

fix: update E2E tests to expect 201 Created from team creation
  tests/e2e/tests/test_invitation_workflow_e2e.py
  tests/e2e/tests/test_team_management_e2e.py
Due: check-env-vars

fix: teams domain audit — validators, slug consolidation, HTTP status (#17)
  Cargo.lock
  domains/teams/Cargo.toml
  domains/teams/src/api/handlers/teams.rs
  domains/teams/src/api/handlers/users.rs
  domains/teams/src/domain/entities.rs
  domains/teams/src/domain/mod.rs
  domains/teams/src/domain/validation.rs
  domains/teams/src/lib.rs
  domains/teams/src/repository/memberships.rs
  tests/e2e/tests/test_invitation_workflow_e2e.py
  tests/e2e/tests/test_team_management_e2e.py
  tests/integration/teams/mod.rs
Due: rustfmt, clippy, check-env-vars

fix: teams domain audit round 2 — constants, validation, atomicity, spec sync
  docs/spec/04_Entities.md
  domains/teams/src/api/handlers/teams.rs
  domains/teams/src/domain/entities.rs
  domains/teams/src/lib.rs
  domains/teams/src/repository/invitations.rs
  domains/teams/src/repository/mod.rs
  domains/teams/src/repository/transactions.rs
Due: rustfmt, clippy, validate-api-spec, check-env-vars

fix: return HTTP 201 for resource creation, remove redundant checks
  domains/teams/src/api/handlers/memberships.rs
  domains/teams/src/api/handlers/teams.rs
  domains/teams/src/domain/entities.rs
  domains/teams/src/repository/invitations.rs
Due: rustfmt, clippy, check-env-vars

docs: sync spec with implementation — slug generation, ApiKey hash, resend
  docs/spec/04_Entities.md
  docs/spec/05_Relationships_States.md
Due: validate-api-spec

fix: revert invite_member and accept_invitation to HTTP 200
  domains/teams/src/api/handlers/memberships.rs
Due: rustfmt, clippy, check-env-vars

fix: teams domain audit round 2 (#18)
  docs/spec/04_Entities.md
  docs/spec/05_Relationships_States.md
  domains/teams/src/api/handlers/teams.rs
  domains/teams/src/domain/entities.rs
  domains/teams/src/lib.rs
  domains/teams/src/repository/invitations.rs
  domains/teams/src/repository/mod.rs
  domains/teams/src/repository/transactions.rs
Due: rustfmt, clippy, validate-api-spec, check-env-vars

refactor: consolidate users.rs error handling with common Error type
  domains/teams/src/api/handlers/users.rs
Due: rustfmt, clippy, check-env-vars

refactor: consolidate users.rs error handling with common Error type (#19)
  domains/teams/src/api/handlers/users.rs
Due: rustfmt, clippy, check-env-vars

fix: remove tier downgrade path — Creator is an absorbing state
  domains/teams/src/api/handlers/users.rs
Due: rustfmt, clippy, check-env-vars

fix: enforce INV-U2 — Creator must belong to at least one team
  domains/teams/src/api/handlers/memberships.rs
Due: rustfmt, clippy, check-env-vars

docs: add formal operation definitions for sections 8.1-8.8
  docs/spec/00_Index.md
  docs/spec/07_Operations.md
Due: validate-api-spec

docs: add formal operation definitions for sections 8.1-8.8 (#21)
  docs/spec/00_Index.md
  docs/spec/07_Operations.md
Due: validate-api-spec

fix: reorder INV-U2 check after INV-T2 and update integration tests
  domains/teams/src/api/handlers/memberships.rs
  tests/integration/memberships/mod.rs
Due: rustfmt, clippy, check-env-vars

fix: wrap leave_team in transaction with FOR UPDATE locking
  domains/teams/src/api/handlers/memberships.rs
  domains/teams/src/lib.rs
  domains/teams/src/repository/mod.rs
  domains/teams/src/repository/transactions.rs
Due: rustfmt, clippy, check-env-vars

feat: add account deletion and API key management endpoints
  .sqlx/query-21c495bb90ddf56c568c1b99ffac45bd7f0d6b17c50e9eb3873de358479b30e6.json
  .sqlx/query-2d54bc85f7cda1a1a433a9262fde967887b618bceca449b4ab82b40da4600f57.json
  .sqlx/query-3e321c1e2408f6dd28186444ea784a0f6273982c4c067279914eb43267328163.json
  .sqlx/query-50293c2e54af11d4c2a553e29b671cef087a159c6ee7182d8ca929ecb748f3b7.json
  domains/teams/src/api/handlers/api_keys.rs
  domains/teams/src/api/handlers/mod.rs
  domains/teams/src/api/handlers/users.rs
  domains/teams/src/api/routes.rs
  domains/teams/src/domain/entities.rs
  domains/teams/src/repository/api_keys.rs
  domains/teams/src/repository/memberships.rs
  domains/teams/src/repository/users.rs
Due: rustfmt, clippy, check-env-vars

fix: update E2E tests to satisfy INV-U2 when leaving teams
  tests/e2e/tests/test_team_management_e2e.py
Due: check-env-vars

fix: wrap leave_team in transaction with FOR UPDATE locking (#22)
  domains/teams/src/api/handlers/memberships.rs
  domains/teams/src/lib.rs
  domains/teams/src/repository/mod.rs
  domains/teams/src/repository/transactions.rs
Due: rustfmt, clippy, check-env-vars

feat: add account deletion and API key management endpoints (#23)
  .sqlx/query-21c495bb90ddf56c568c1b99ffac45bd7f0d6b17c50e9eb3873de358479b30e6.json
  .sqlx/query-2d54bc85f7cda1a1a433a9262fde967887b618bceca449b4ab82b40da4600f57.json
  .sqlx/query-3e321c1e2408f6dd28186444ea784a0f6273982c4c067279914eb43267328163.json
  .sqlx/query-50293c2e54af11d4c2a553e29b671cef087a159c6ee7182d8ca929ecb748f3b7.json
  domains/teams/src/api/handlers/api_keys.rs
  domains/teams/src/api/handlers/mod.rs
  domains/teams/src/api/handlers/users.rs
  domains/teams/src/api/routes.rs
  domains/teams/src/domain/entities.rs
  domains/teams/src/repository/api_keys.rs
  domains/teams/src/repository/memberships.rs
  domains/teams/src/repository/users.rs
Due: rustfmt, clippy, check-env-vars

fix: Creator tier — remove downgrade, enforce INV-U2 (#20)
  .gitignore
  domains/teams/src/api/handlers/memberships.rs
  domains/teams/src/api/handlers/users.rs
  tests/e2e/tests/test_team_management_e2e.py
  tests/integration/memberships/mod.rs
Due: rustfmt, clippy, check-env-vars

fix: teams domain audit — invariant gaps, race conditions, spec alignment
  .sqlx/query-30a7869d45cd2322d3eefe1096849eeb847bd846ff6fad4f49bd1ea908dbbddd.json
  .sqlx/query-d350f4346a2a67078c365559f134b462b8e3f2f3081c46bfc6a10d972015e999.json
  domains/teams/src/api/handlers/memberships.rs
  domains/teams/src/api/handlers/teams.rs
  domains/teams/src/lib.rs
  domains/teams/src/repository/memberships.rs
  domains/teams/src/repository/mod.rs
  domains/teams/src/repository/teams.rs
  domains/teams/src/repository/transactions.rs
  tests/integration/memberships/mod.rs
  tests/integration/teams/mod.rs
Due: rustfmt, clippy, check-env-vars

fix: move INV-U2 check after admin-cannot-remove-owner auth check
  domains/teams/src/api/handlers/memberships.rs
Due: rustfmt, clippy, check-env-vars

fix: update E2E test for re-invite revoke+recreate behavior (A1)
  tests/e2e/tests/test_invitation_workflow_e2e.py
Due: check-env-vars

fix: teams domain audit — invariant gaps, race conditions, spec alignment (#24)
  .sqlx/query-30a7869d45cd2322d3eefe1096849eeb847bd846ff6fad4f49bd1ea908dbbddd.json
  .sqlx/query-d350f4346a2a67078c365559f134b462b8e3f2f3081c46bfc6a10d972015e999.json
  domains/teams/src/api/handlers/memberships.rs
  domains/teams/src/api/handlers/teams.rs
  domains/teams/src/lib.rs
  domains/teams/src/repository/memberships.rs
  domains/teams/src/repository/mod.rs
  domains/teams/src/repository/teams.rs
  domains/teams/src/repository/transactions.rs
  tests/e2e/tests/test_invitation_workflow_e2e.py
  tests/integration/memberships/mod.rs
  tests/integration/teams/mod.rs
Due: rustfmt, clippy, check-env-vars

ci: add manual workflow to regenerate .sqlx offline cache
  .github/workflows/sqlx-prepare.yml
  .secrets.baseline
  Justfile
Due: none

ci: add manual workflow to regenerate .sqlx offline cache (#25)
  .github/workflows/sqlx-prepare.yml
  .secrets.baseline
  Justfile
Due: none

fix: wrap invite_member, update_member_role, and remaining reads in transactions
  domains/teams/src/api/handlers/memberships.rs
  domains/teams/src/lib.rs
  domains/teams/src/repository/mod.rs
  domains/teams/src/repository/transactions.rs
Due: rustfmt, clippy, check-env-vars

fix: squash 4 migrations into 2 clean files
  migrations/20240130000001_schema.sql
  migrations/20240130000002_functions.sql
  migrations/20240130000003_add_declined_at_to_invitations.sql
  migrations/20240130000004_allow_team_cascade_delete.sql
Due: migration-naming

docs: add Rule 11 (CI runs all checks, never locally), remove mutation testing rule
  CLAUDE.md
Due: none

ci: add CI Passed gate job depending on all leaf pipelines
  .github/workflows/ci.yml
Due: none

ci: remove per-shard mutation summaries, keep only aggregated summary
  .github/workflows/ci.yml
Due: none

fix: wrap invite/update-role in transactions to close race conditions (#26)
  .github/workflows/ci.yml
  CLAUDE.md
  domains/teams/src/api/handlers/memberships.rs
  domains/teams/src/lib.rs
  domains/teams/src/repository/mod.rs
  domains/teams/src/repository/transactions.rs
  migrations/20240130000001_schema.sql
  migrations/20240130000002_functions.sql
  migrations/20240130000003_add_declined_at_to_invitations.sql
  migrations/20240130000004_allow_team_cascade_delete.sql
Due: rustfmt, clippy, migration-naming, check-env-vars

fix: close race conditions and permission gaps in teams domain (round 5)
  domains/teams/src/api/handlers/api_keys.rs
  domains/teams/src/api/handlers/memberships.rs
  domains/teams/src/api/handlers/teams.rs
  domains/teams/src/api/handlers/users.rs
  domains/teams/src/lib.rs
  domains/teams/src/repository/mod.rs
  domains/teams/src/repository/transactions.rs
Due: rustfmt, clippy, check-env-vars

fix: update test to expect 403 for admin demoting owner
  tests/integration/memberships/mod.rs
Due: rustfmt, clippy, check-env-vars

fix: remove 16 dead repository methods and fix silent settings errors
  domains/teams/src/api/handlers/teams.rs
  domains/teams/src/repository/invitations.rs
  domains/teams/src/repository/memberships.rs
  domains/teams/src/repository/teams.rs
  domains/teams/src/repository/users.rs
Due: rustfmt, clippy, check-env-vars

fix: enforce creator tier via CreatorUser extractor (spec 9.1)
  domains/teams/src/api/handlers/memberships.rs
  domains/teams/src/api/handlers/teams.rs
  domains/teams/src/api/middleware.rs
  domains/teams/src/api/mod.rs
  domains/teams/src/lib.rs
  tests/integration/teams/mod.rs
Due: rustfmt, clippy, check-env-vars

test: add integration tests for delete_account and API keys
  tests/integration/api_keys/mod.rs
  tests/integration/api_test.rs
  tests/integration/common/mod.rs
  tests/integration/invariants/mod.rs
  tests/integration/users/mod.rs
Due: rustfmt, clippy, check-env-vars

fix: enable orphaned auth integration tests and fix compilation errors
  tests/integration/api_test.rs
  tests/integration/auth/mod.rs
Due: rustfmt, clippy, check-env-vars
